Repository zard-ui/zardui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.127 [skip ci] 🔥
  CHANGELOG.md
  apps/web/public/r/registry.json
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(carousel, progress): read the direction from Directionality instead of computed styles
  apps/web/public/docs/components/carousel.md
  apps/web/public/docs/components/progress.md
  apps/web/public/r/carousel.json
  apps/web/public/r/progress.json
  apps/web/src/generated/installation/manual/carousel.ts
  apps/web/src/generated/installation/manual/progress.ts
  libs/zard/src/lib/shared/components/carousel/carousel.component.ts
  libs/zard/src/lib/shared/components/progress/progress.component.ts
Due: eslint --fix, prettier --write

🧪 test(rtl): update specs to the logical classes and cover the rtl progress
  libs/zard/src/lib/shared/components/dropdown/dropdown-item.component.spec.ts
  libs/zard/src/lib/shared/components/progress/progress.component.spec.ts
  libs/zard/src/lib/shared/components/switch/switch.component.spec.ts
  libs/zard/src/lib/shared/components/table/table.component.spec.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.128 [skip ci] 🔥
  CHANGELOG.md
  apps/web/public/r/registry.json
  libs/zard/package.json
  packages/cli/package.json
Due: none

✨ feat(i18n): implement DI-first localization for calendar and date-picker (#745)
  apps/web/public/docs/components/calendar.md
  apps/web/public/r/calendar.json
  apps/web/public/r/core.json
  apps/web/public/r/registry.json
  apps/web/src/generated/components/calendar/demo/i18n.ts
  apps/web/src/generated/components/calendar/snippets.ts
  apps/web/src/generated/installation/manual/calendar.ts
  libs/zard/src/lib/shared/components/calendar/calendar-grid.component.ts
  libs/zard/src/lib/shared/components/calendar/calendar-i18n.service.spec.ts
  libs/zard/src/lib/shared/components/calendar/calendar-i18n.service.ts
  libs/zard/src/lib/shared/components/calendar/calendar-navigation.component.ts
  libs/zard/src/lib/shared/components/calendar/calendar.component.spec.ts
  libs/zard/src/lib/shared/components/calendar/calendar.component.ts
  libs/zard/src/lib/shared/components/calendar/calendar.types.ts
  libs/zard/src/lib/shared/components/calendar/calendar.utils.spec.ts
  libs/zard/src/lib/shared/components/calendar/calendar.utils.ts
  libs/zard/src/lib/shared/components/calendar/demo/calendar.ts
  libs/zard/src/lib/shared/components/calendar/demo/i18n.ts
  libs/zard/src/lib/shared/components/calendar/doc/api.ts
  libs/zard/src/lib/shared/components/calendar/doc/snippets.md
  libs/zard/src/lib/shared/components/calendar/index.ts
  libs/zard/src/lib/shared/components/date-picker/date-picker.component.spec.ts
  libs/zard/src/lib/shared/core/i18n/i18n.constants.ts
  libs/zard/src/lib/shared/core/i18n/i18n.provider.ts
  libs/zard/src/lib/shared/core/i18n/i18n.service.spec.ts
  libs/zard/src/lib/shared/core/i18n/i18n.service.ts
  libs/zard/src/lib/shared/core/i18n/i18n.tokens.ts
  libs/zard/src/lib/shared/core/i18n/i18n.types.ts
  libs/zard/src/lib/shared/core/i18n/index.ts
  libs/zard/src/lib/shared/core/i18n/locales/de-de.ts
  libs/zard/src/lib/shared/core/i18n/locales/en-us.ts
  libs/zard/src/lib/shared/core/i18n/locales/es-es.ts
  libs/zard/src/lib/shared/core/i18n/locales/fr-fr.ts
  libs/zard/src/lib/shared/core/i18n/locales/it-it.ts
  libs/zard/src/lib/shared/core/i18n/locales/pt-br.ts
  libs/zard/src/lib/shared/core/i18n/locales/pt-pt.ts
  libs/zard/src/lib/shared/core/i18n/locales/registry.ts
  libs/zard/src/lib/shared/core/index.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.129 [skip ci] 🔥
  CHANGELOG.md
  apps/web/public/r/registry.json
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(aspect-ratio): register the component in the cli registry and regenerate its docs
  apps/web/prerender-routes.txt
  apps/web/public/docs/components/aspect-ratio.md
  apps/web/public/llms.txt
  apps/web/public/r/aspect-ratio.json
  apps/web/public/r/registry.json
  apps/web/src/generated/components/aspect-ratio/demo/avatar.ts
  apps/web/src/generated/components/aspect-ratio/demo/card-grid.ts
  apps/web/src/generated/components/aspect-ratio/demo/embed.ts
  apps/web/src/generated/components/aspect-ratio/demo/image.ts
  apps/web/src/generated/installation/register/register-sonner.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/avatar.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/card-grid.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/embed.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/image.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

💄 style(aspect-ratio): align the component and demos with shadcn
  apps/web/public/docs/components/aspect-ratio.md
  apps/web/public/r/aspect-ratio.json
  apps/web/src/generated/components/aspect-ratio/demo/avatar.ts
  apps/web/src/generated/components/aspect-ratio/demo/card-grid.ts
  apps/web/src/generated/components/aspect-ratio/demo/embed.ts
  apps/web/src/generated/components/aspect-ratio/demo/image.ts
  apps/web/src/generated/components/aspect-ratio/demo/portrait.ts
  apps/web/src/generated/components/aspect-ratio/demo/preview.ts
  apps/web/src/generated/components/aspect-ratio/demo/rtl.ts
  apps/web/src/generated/components/aspect-ratio/demo/square.ts
  apps/web/src/generated/installation/manual/aspect-ratio.ts
  libs/zard/src/lib/shared/components/aspect-ratio/aspect-ratio.component.ts
  libs/zard/src/lib/shared/components/aspect-ratio/aspect-ratio.variants.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/aspect-ratio.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/avatar.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/card-grid.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/embed.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/image.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/portrait.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/preview.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/rtl.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/square.ts
Due: eslint --fix, prettier --write

✨ feat(aspect-ratio): add the aspect-ratio component (#748)
  apps/web/prerender-routes.txt
  apps/web/public/docs/components/aspect-ratio.md
  apps/web/public/llms.txt
  apps/web/public/r/aspect-ratio.json
  apps/web/public/r/registry.json
  apps/web/src/app/shared/constants/components.constant.ts
  apps/web/src/app/shared/constants/routes.constant.ts
  apps/web/src/generated/components/aspect-ratio/demo/portrait.ts
  apps/web/src/generated/components/aspect-ratio/demo/preview.ts
  apps/web/src/generated/components/aspect-ratio/demo/rtl.ts
  apps/web/src/generated/components/aspect-ratio/demo/square.ts
  apps/web/src/generated/installation/cli/add-aspect-ratio.ts
  apps/web/src/generated/installation/manual/aspect-ratio.ts
  apps/web/src/generated/usage/aspect-ratio.ts
  libs/zard/src/index.ts
  libs/zard/src/lib/shared/components/aspect-ratio/aspect-ratio.component.spec.ts
  libs/zard/src/lib/shared/components/aspect-ratio/aspect-ratio.component.ts
  libs/zard/src/lib/shared/components/aspect-ratio/aspect-ratio.variants.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/aspect-ratio.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/portrait.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/preview.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/rtl.ts
  libs/zard/src/lib/shared/components/aspect-ratio/demo/square.ts
  libs/zard/src/lib/shared/components/aspect-ratio/doc/api.ts
  libs/zard/src/lib/shared/components/aspect-ratio/index.ts
  packages/cli/src/core/registry/registry-data.ts
  packages/highlight/src/generator/usage-data.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.130 [skip ci] 🔥
  CHANGELOG.md
  apps/web/public/r/registry.json
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(attachment): drop the optional utilities dependency and follow the repo conventions
  apps/web-e2e/src/components/attachment.spec.ts
  apps/web/public/docs/components/attachment.md
  apps/web/public/r/attachment.json
  apps/web/public/r/registry.json
  apps/web/src/generated/components/attachment/demo/default.ts
  apps/web/src/generated/components/attachment/demo/group.ts
  apps/web/src/generated/components/attachment/demo/image.ts
  apps/web/src/generated/components/attachment/demo/preview.ts
  apps/web/src/generated/components/attachment/demo/sizes.ts
  apps/web/src/generated/components/attachment/demo/states.ts
  apps/web/src/generated/components/attachment/demo/trigger.ts
  apps/web/src/generated/installation/manual/attachment.ts
  apps/web/src/generated/usage/attachment.ts
  libs/zard/src/lib/shared/components/attachment/attachment.component.spec.ts
  libs/zard/src/lib/shared/components/attachment/attachment.component.ts
  libs/zard/src/lib/shared/components/attachment/attachment.imports.ts
  libs/zard/src/lib/shared/components/attachment/attachment.variants.ts
  libs/zard/src/lib/shared/components/attachment/demo/attachment.ts
  libs/zard/src/lib/shared/components/attachment/demo/group.ts
  libs/zard/src/lib/shared/components/attachment/demo/image.ts
  libs/zard/src/lib/shared/components/attachment/demo/preview.ts
  libs/zard/src/lib/shared/components/attachment/demo/sizes.ts
  libs/zard/src/lib/shared/components/attachment/demo/states.ts
  libs/zard/src/lib/shared/components/attachment/demo/trigger.ts
  libs/zard/src/lib/shared/components/attachment/doc/api.ts
  libs/zard/src/lib/shared/components/attachment/index.ts
  packages/cli/src/core/registry/registry-data.ts
  packages/highlight/src/generator/usage-data.ts
Due: eslint --fix, prettier --write

✨ feat(attachment): add file and image attachment component (#747)
  apps/web-e2e/src/components/attachment.spec.ts
  apps/web/prerender-routes.txt
  apps/web/public/docs/components.md
  apps/web/public/docs/components/attachment.md
  apps/web/public/llms.txt
  apps/web/public/r/attachment.json
  apps/web/public/r/registry.json
  apps/web/src/app/shared/constants/components.constant.ts
  apps/web/src/app/shared/constants/routes.constant.ts
  apps/web/src/generated/components/attachment/demo/group.ts
  apps/web/src/generated/components/attachment/demo/image.ts
  apps/web/src/generated/components/attachment/demo/preview.ts
  apps/web/src/generated/components/attachment/demo/sizes.ts
  apps/web/src/generated/components/attachment/demo/states.ts
  apps/web/src/generated/components/attachment/demo/trigger.ts
  apps/web/src/generated/installation/cli/add-attachment.ts
  apps/web/src/generated/installation/manual/attachment.ts
  apps/web/src/generated/usage/attachment.ts
  libs/zard/src/index.ts
  libs/zard/src/lib/shared/components/attachment/attachment.component.spec.ts
  libs/zard/src/lib/shared/components/attachment/attachment.component.ts
  libs/zard/src/lib/shared/components/attachment/attachment.imports.ts
  libs/zard/src/lib/shared/components/attachment/attachment.variants.spec.ts
  libs/zard/src/lib/shared/components/attachment/attachment.variants.ts
  libs/zard/src/lib/shared/components/attachment/demo/attachment.ts
  libs/zard/src/lib/shared/components/attachment/demo/group.ts
  libs/zard/src/lib/shared/components/attachment/demo/image.ts
  libs/zard/src/lib/shared/components/attachment/demo/preview.ts
  libs/zard/src/lib/shared/components/attachment/demo/sizes.ts
  libs/zard/src/lib/shared/components/attachment/demo/states.ts
  libs/zard/src/lib/shared/components/attachment/demo/trigger.ts
  libs/zard/src/lib/shared/components/attachment/doc/api.ts
  libs/zard/src/lib/shared/components/attachment/index.ts
  packages/cli/src/core/registry/registry-data.ts
  packages/highlight/src/generator/usage-data.ts
Due: eslint --fix, prettier --write

✨ feat(registry): let a component depend on the utilities stylesheet
  apps/web/public/documentation/utils/installation.md
  apps/web/public/r/utilities.json
  apps/web/src/app/domain/pages/utils/scroll-fade/scroll-fade.page.html
  apps/web/src/app/domain/pages/utils/shimmer/shimmer.page.html
  libs/zard/src/lib/shared/core/css/utilities.css
  scripts/check-registry.cts
  skills/zard/SKILL.md
  skills/zard/rules/styling.md
Due: prettier --write

🐛 fix(attachment): declare utilities and restore its shimmer and scroll fade
  apps/web-e2e/src/components/attachment.spec.ts
  apps/web/public/docs/components/attachment.md
  apps/web/public/r/attachment.json
  apps/web/public/r/registry.json
  apps/web/src/generated/installation/manual/attachment.ts
  libs/zard/src/lib/shared/components/attachment/attachment.component.spec.ts
  libs/zard/src/lib/shared/components/attachment/attachment.component.ts
  libs/zard/src/lib/shared/components/attachment/attachment.variants.ts
  libs/zard/src/lib/shared/components/attachment/doc/api.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.131 [skip ci] 🔥
  CHANGELOG.md
  apps/web/public/r/registry.json
  libs/zard/package.json
  packages/cli/package.json
Due: none

✨ feat(registry): let components depend on the utilities stylesheet (#749)
  apps/web-e2e/src/components/attachment.spec.ts
  apps/web/public/docs/components/attachment.md
  apps/web/public/documentation/utils/installation.md
  apps/web/public/r/attachment.json
  apps/web/public/r/registry.json
  apps/web/public/r/utilities.json
  apps/web/src/app/domain/pages/utils/scroll-fade/scroll-fade.page.html
  apps/web/src/app/domain/pages/utils/shimmer/shimmer.page.html
  apps/web/src/generated/installation/manual/attachment.ts
  libs/zard/src/lib/shared/components/attachment/attachment.component.spec.ts
  libs/zard/src/lib/shared/components/attachment/attachment.component.ts
  libs/zard/src/lib/shared/components/attachment/attachment.variants.ts
  libs/zard/src/lib/shared/components/attachment/doc/api.ts
  libs/zard/src/lib/shared/core/css/utilities.css
  packages/cli/src/core/registry/registry-data.ts
  scripts/check-registry.cts
  skills/zard/SKILL.md
  skills/zard/rules/styling.md
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.132 [skip ci] 🔥
  CHANGELOG.md
  apps/web/public/r/registry.json
  libs/zard/package.json
  packages/cli/package.json
Due: none

🔧 ci(release): publish stable versions from the commits after v1
  .github/workflows/release.yml
  scripts/release-bump.cts
Due: none

📝 docs(cli, mcp): add package readmes with the zard/ui banner
  packages/cli/README.md
  packages/mcp/README.md
  scripts/mcp-build.mjs
Due: none

🚧 chore(mcp): set the next release to 1.0.2
  .github/workflows/release-mcp.yml
  apps/web/public/docs/mcp.md
  apps/web/public/documentation/mcp/installation.md
  apps/web/src/generated/documentation/mcp/installation.ts
  apps/web/src/generated/pages/mcp/installation.ts
  packages/mcp/package.json
Due: eslint --fix, prettier --write

💄 style(changelog): show the v1.0 release clip in place of the release card
  apps/web/public/video/release-1.0.mp4
  apps/web/src/app/domain/pages/change-log/components/changelog-release.component.spec.ts
  apps/web/src/app/domain/pages/change-log/components/changelog-release.component.ts
  apps/web/src/app/domain/pages/change-log/entries/2026/september-2026.ts
  apps/web/src/app/domain/pages/change-log/entries/changelog-entry.interface.ts
Due: eslint --fix, prettier --write

🐛 fix(changelog): honour reduced motion and let the release clip be paused
  apps/web/src/app/domain/pages/change-log/components/changelog-release.component.spec.ts
  apps/web/src/app/domain/pages/change-log/components/changelog-release.component.ts
Due: eslint --fix, prettier --write

🔧 ci(release): bump from the last stable tag and honour breaking footers
  scripts/release-bump.cts
Due: none

📝 docs(cli): note that init derives the project paths it configures
  packages/cli/README.md
Due: none

🐛 fix(changelog): keep the clip's pause button visible on touch devices
  apps/web/src/app/domain/pages/change-log/components/changelog-release.component.ts
Due: eslint --fix, prettier --write

🔧 ci(release): run git without a shell and validate the --from ref
  scripts/release-bump.cts
Due: none

🔧 ci(release): stable releases after v1, MCP 1.0.2 and package readmes (#750)
  .github/workflows/release-mcp.yml
  .github/workflows/release.yml
  apps/web/public/docs/mcp.md
  apps/web/public/documentation/mcp/installation.md
  apps/web/src/generated/documentation/mcp/installation.ts
  apps/web/src/generated/pages/mcp/installation.ts
  packages/cli/README.md
  packages/mcp/README.md
  packages/mcp/package.json
  scripts/mcp-build.mjs
  scripts/release-bump.cts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.133 [skip ci] 🔥
  CHANGELOG.md
  apps/web/public/r/registry.json
  libs/zard/package.json
  packages/cli/package.json
Due: none

💄 style(changelog): show the v1.0 release clip in place of the release card (#751)
  apps/web/public/video/release-1.0.mp4
  apps/web/src/app/domain/pages/change-log/components/changelog-release.component.spec.ts
  apps/web/src/app/domain/pages/change-log/components/changelog-release.component.ts
  apps/web/src/app/domain/pages/change-log/entries/2026/september-2026.ts
  apps/web/src/app/domain/pages/change-log/entries/changelog-entry.interface.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.134 [skip ci] 🔥
  CHANGELOG.md
  apps/web/public/r/registry.json
  libs/zard/package.json
  packages/cli/package.json
Due: none

🔖 chore(release): publish v1.0.0 [skip ci] 🔥
  CHANGELOG.md
  apps/web/public/r/registry.json
  libs/zard/package.json
  packages/cli/package.json
Due: none

🔧 ci(mcp): publish zard-mcp through npm trusted publishing
  .github/workflows/release-mcp.yml
Due: none

🐛 fix(cli): address review on exports, Vite apps and consumer setup
  apps/web/src/app/shared/constants/install.constant.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/init/steps.spec.ts
  packages/cli/src/commands/init/steps.ts
  packages/cli/src/utils/get-project-info.spec.ts
  packages/cli/src/utils/get-project-info.ts
Due: eslint --fix, prettier --write

🐛 fix(cli): root export conditions and custom Vite config paths
  packages/cli/src/commands/init/steps.spec.ts
  packages/cli/src/commands/init/steps.ts
  packages/cli/src/utils/get-project-info.spec.ts
  packages/cli/src/utils/get-project-info.ts
Due: eslint --fix, prettier --write

🐛 fix(cli): resolve the Vite config inherited from targetDefaults
  packages/cli/src/utils/get-project-info.spec.ts
  packages/cli/src/utils/get-project-info.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.1 [skip ci] 🔥
  CHANGELOG.md
  apps/web/public/r/registry.json
  libs/zard/package.json
  packages/cli/package.json
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.html)
