Repository zard-ui/zardui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.html": ["prettier --write"]
}

✨ feat(table): update simple example selector
  apps/web/src/generated/components/table/demo/simple.ts
  libs/zard/src/lib/shared/components/table/demo/simple.ts
Due: eslint --fix, prettier --write

✨ feat(table): update documentation
  apps/web/public/docs/components/table.md
  apps/web/public/r/table.json
Due: none

✨ feat(table): adjust preview table to match shadcn
  apps/web/src/generated/components/table/demo/invoices.ts
  apps/web/src/generated/components/table/demo/payments.ts
  libs/zard/src/lib/shared/components/table/demo/invoices.ts
  libs/zard/src/lib/shared/components/table/demo/payments.ts
  libs/zard/src/lib/shared/components/table/demo/table.ts
Due: eslint --fix, prettier --write

✨ feat(table): update demo and documentation
  apps/web/public/docs/components/table.md
  apps/web/public/r/registry.json
  apps/web/src/generated/components/table/demo/actions.ts
  apps/web/src/generated/components/table/demo/footer.ts
  apps/web/src/generated/components/table/demo/invoices.ts
  apps/web/src/generated/components/table/demo/preview.ts
  libs/zard/src/lib/shared/components/table/demo/actions.ts
  libs/zard/src/lib/shared/components/table/demo/footer.ts
  libs/zard/src/lib/shared/components/table/demo/preview.ts
  libs/zard/src/lib/shared/components/table/demo/table.ts
Due: eslint --fix, prettier --write

✨ feat(table): resolve comment - update unit tests
  libs/zard/src/lib/shared/components/table/table.component.spec.ts
Due: eslint --fix, prettier --write

✨ feat(table): resolve comment fix imports and remove duplicate attribute
  libs/zard/src/lib/shared/components/table/demo/actions.ts
  libs/zard/src/lib/shared/components/table/demo/simple.ts
  libs/zard/src/lib/shared/components/table/demo/table.ts
Due: eslint --fix, prettier --write

Feat/549 update table component (#679)
  apps/web/public/docs/components/table.md
  apps/web/public/r/table.json
  apps/web/src/generated/components/table/demo/actions.ts
  apps/web/src/generated/components/table/demo/footer.ts
  apps/web/src/generated/components/table/demo/payments.ts
  apps/web/src/generated/components/table/demo/preview.ts
  apps/web/src/generated/components/table/demo/simple.ts
  apps/web/src/generated/installation/manual/table.ts
  libs/zard/src/lib/shared/components/table/demo/actions.ts
  libs/zard/src/lib/shared/components/table/demo/footer.ts
  libs/zard/src/lib/shared/components/table/demo/payments.ts
  libs/zard/src/lib/shared/components/table/demo/preview.ts
  libs/zard/src/lib/shared/components/table/demo/simple.ts
  libs/zard/src/lib/shared/components/table/demo/table.ts
  libs/zard/src/lib/shared/components/table/doc/api.ts
  libs/zard/src/lib/shared/components/table/table.component.spec.ts
  libs/zard/src/lib/shared/components/table/table.component.ts
  libs/zard/src/lib/shared/components/table/table.imports.ts
  libs/zard/src/lib/shared/components/table/table.variants.ts
Due: eslint --fix, prettier --write

🔧 chore: update registry [skip ci]
  apps/web/public/r/registry.json
  apps/web/public/r/table.json
Due: none

🔖 chore(release): publish v1.0.0-beta.92 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

💄 style(calendar): align variants with shadcn design tokens
  libs/zard/src/lib/shared/components/calendar/calendar.types.ts
  libs/zard/src/lib/shared/components/calendar/calendar.variants.ts
  libs/zard/src/lib/shared/components/popover/popover.component.ts
Due: eslint --fix, prettier --write

💄 feat(sheet): align sheet variants with shadcn/ui base-nova
  libs/zard/src/lib/shared/components/sheet/demo/basic.ts
  libs/zard/src/lib/shared/components/sheet/demo/dimensions.ts
  libs/zard/src/lib/shared/components/sheet/sheet.variants.ts
Due: eslint --fix, prettier --write

✨ feat(sheet): add accessibility and exit animation support
  libs/zard/src/lib/shared/components/sheet/sheet-ref.ts
  libs/zard/src/lib/shared/components/sheet/sheet.component.ts
  libs/zard/src/lib/shared/components/sheet/sheet.service.ts
Due: eslint --fix, prettier --write

✨ feat(calendar): add zCaptionLayout, zButtonVariant and zShowOutsideDays
  libs/zard/src/lib/shared/components/calendar/calendar-grid.component.ts
  libs/zard/src/lib/shared/components/calendar/calendar-navigation.component.ts
  libs/zard/src/lib/shared/components/calendar/calendar.component.ts
  libs/zard/src/lib/shared/components/date-picker/date-picker.component.ts
Due: eslint --fix, prettier --write

📝 docs(sheet): update examples, api reference and usage
  apps/web/src/app/domain/pages/change-log/entries/2025/october-2025.examples.ts
  libs/zard/src/lib/shared/components/sheet/demo/no-close-button.ts
  libs/zard/src/lib/shared/components/sheet/demo/preview.ts
  libs/zard/src/lib/shared/components/sheet/demo/sheet.ts
  libs/zard/src/lib/shared/components/sheet/doc/api.ts
  packages/highlight/src/generator/usage-data.ts
Due: eslint --fix, prettier --write

🧪 test(sheet): cover new sheet behaviour
  libs/zard/src/lib/shared/components/sheet/sheet-ref.spec.ts
  libs/zard/src/lib/shared/components/sheet/sheet.component.spec.ts
Due: eslint --fix, prettier --write

✏️ docs(calendar): rewrite demos following shadcn examples
  apps/web/src/app/shared/constants/components.constant.ts
  libs/zard/src/lib/shared/components/calendar/demo/basic.ts
  libs/zard/src/lib/shared/components/calendar/demo/calendar.ts
  libs/zard/src/lib/shared/components/calendar/demo/caption.ts
  libs/zard/src/lib/shared/components/calendar/demo/custom-cell-size.ts
  libs/zard/src/lib/shared/components/calendar/demo/default.ts
  libs/zard/src/lib/shared/components/calendar/demo/expand-year-selection-range.ts
  libs/zard/src/lib/shared/components/calendar/demo/multiple.ts
  libs/zard/src/lib/shared/components/calendar/demo/presets.ts
  libs/zard/src/lib/shared/components/calendar/demo/preview.ts
  libs/zard/src/lib/shared/components/calendar/demo/range.ts
  libs/zard/src/lib/shared/components/calendar/demo/with-constraints.ts
  libs/zard/src/lib/shared/components/calendar/demo/with-time.ts
  libs/zard/src/lib/shared/components/calendar/doc/api.ts
  libs/zard/src/lib/shared/components/calendar/doc/snippets.md
  packages/cli/src/core/registry/registry-data.ts
  packages/highlight/src/generator/usage-data.ts
Due: eslint --fix, prettier --write

🔧 chore: update generated docs and registry for sheet
  apps/web/public/docs/components/sheet.md
  apps/web/public/r/sheet.json
  apps/web/src/generated/components/sheet/demo/basic.ts
  apps/web/src/generated/components/sheet/demo/dimensions.ts
  apps/web/src/generated/components/sheet/demo/no-close-button.ts
  apps/web/src/generated/components/sheet/demo/preview.ts
  apps/web/src/generated/components/sheet/demo/side.ts
  apps/web/src/generated/installation/manual/sheet.ts
  apps/web/src/generated/usage/sheet.ts
Due: eslint --fix, prettier --write

🧪 test(calendar): update specs for the new design
  libs/zard/src/lib/shared/components/calendar/calendar-grid.component.spec.ts
  libs/zard/src/lib/shared/components/calendar/calendar-navigation.component.spec.ts
  libs/zard/src/lib/shared/components/calendar/calendar.component.spec.ts
Due: eslint --fix, prettier --write

🔧 chore(calendar): regenerate highlight files and registry
  apps/web/public/r/calendar.json
  apps/web/public/r/date-picker.json
  apps/web/public/r/popover.json
  apps/web/public/r/registry.json
  apps/web/src/generated/components/calendar/demo/basic.ts
  apps/web/src/generated/components/calendar/demo/caption.ts
  apps/web/src/generated/components/calendar/demo/custom-cell-size.ts
  apps/web/src/generated/components/calendar/demo/default.ts
  apps/web/src/generated/components/calendar/demo/expand-year-selection-range.ts
  apps/web/src/generated/components/calendar/demo/multiple.ts
  apps/web/src/generated/components/calendar/demo/presets.ts
  apps/web/src/generated/components/calendar/demo/preview.ts
  apps/web/src/generated/components/calendar/demo/range.ts
  apps/web/src/generated/components/calendar/demo/with-constraints.ts
  apps/web/src/generated/components/calendar/demo/with-time.ts
  apps/web/src/generated/components/calendar/snippets.ts
  apps/web/src/generated/installation/manual/calendar.ts
  apps/web/src/generated/installation/manual/popover.ts
Due: eslint --fix, prettier --write

📝 docs(calendar): add the upgrade report
  CALENDAR_UPGRADE_REPORT.md
Due: none

✨ feat(web): add featured articles page
  apps/web/prerender-routes.txt
  apps/web/public/docs/featured/articles.md
  apps/web/src/app/domain/pages/featured/articles/articles.page.html
  apps/web/src/app/domain/pages/featured/articles/articles.page.spec.ts
  apps/web/src/app/domain/pages/featured/articles/articles.page.ts
  apps/web/src/app/domain/pages/featured/data/featured-articles.ts
  apps/web/src/app/domain/pages/featured/featured.routes.ts
  apps/web/src/app/shared/constants/routes.constant.ts
Due: eslint --fix, prettier --write

💄 style(web): move Featured to the end of the sidebar
  apps/web/src/app/shared/constants/routes.constant.ts
  carousel-upgrade.md
Due: eslint --fix, prettier --write

Feat/talking about (#682)
  apps/web/prerender-routes.txt
  apps/web/public/docs/featured/articles.md
  apps/web/src/app/domain/pages/featured/articles/articles.page.html
  apps/web/src/app/domain/pages/featured/articles/articles.page.spec.ts
  apps/web/src/app/domain/pages/featured/articles/articles.page.ts
  apps/web/src/app/domain/pages/featured/data/featured-articles.ts
  apps/web/src/app/domain/pages/featured/featured.routes.ts
  apps/web/src/app/shared/constants/routes.constant.ts
  carousel-upgrade.md
Due: eslint --fix, prettier --write

🔧 chore: update registry [skip ci]
  apps/web/public/r/registry.json
Due: none

🔖 chore(release): publish v1.0.0-beta.93 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

💄 style(sidebar): move the Forms section below Components
  apps/web/src/app/shared/constants/routes.constant.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.94 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(blocks): stop anchor navigation inside the preview iframe
  apps/web/src/app/domain/pages/blocks/block-preview/block-preview.page.ts
Due: eslint --fix, prettier --write

📦 refactor(blocks): use the shared placeholder asset for cover images
  apps/web/public/blocks/login-02/dark.png
  apps/web/public/blocks/login-02/light.png
  apps/web/public/blocks/login-04/dark.png
  apps/web/public/blocks/login-04/light.png
  apps/web/public/blocks/signup-02/dark.png
  apps/web/public/blocks/signup-02/light.png
  apps/web/public/blocks/signup-04/dark.png
  apps/web/public/blocks/signup-04/light.png
  apps/web/public/images/placeholder.svg
  apps/web/public/placeholder.svg
  apps/web/public/r/blocks/login-02.json
  apps/web/public/r/blocks/login-04.json
  apps/web/public/r/blocks/signup-02.json
  apps/web/public/r/blocks/signup-04.json
  libs/blocks/src/lib/login-02/block.ts
  libs/blocks/src/lib/login-02/login-02.component.html
  libs/blocks/src/lib/login-04/block.ts
  libs/blocks/src/lib/login-04/login-04.component.html
  libs/blocks/src/lib/signup-02/block.ts
  libs/blocks/src/lib/signup-02/signup-02.component.html
  libs/blocks/src/lib/signup-04/block.ts
  libs/blocks/src/lib/signup-04/signup-04.component.html
Due: eslint --fix, prettier --write

🐛 fix(blocks): send the browse buttons to a category that has blocks
  apps/web/src/app/domain/pages/blocks/blocks.page.html
Due: prettier --write

🐛 fix(blocks): point "Browse all blocks" at the login category
  apps/web/src/app/domain/pages/blocks/blocks.page.html
Due: prettier --write

🔖 chore(release): publish v1.0.0-beta.95 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(combobox): move viewProviders after template in the input-group demo
  apps/web/src/generated/components/combobox/demo/input-group.ts
  libs/zard/src/lib/shared/components/combobox/demo/input-group.ts
Due: eslint --fix, prettier --write
