Repository zard-ui/zardui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.html": ["prettier --write"]
}

Revise CONTRIBUTING.md for project updates
  CONTRIBUTING.md
Due: none

🔧 chore: update registry [skip ci]
  apps/web/public/r/registry.json
Due: none

🔖 chore(release): publish v1.0.0-beta.66 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix: update github links on roadmap page
  apps/web/src/app/domain/pages/roadmap/roadmap.page.html
Due: prettier --write

🐛 fix: update github links on roadmap page (#493)
  apps/web/src/app/domain/pages/roadmap/roadmap.page.html
Due: prettier --write

🔖 chore(release): publish v1.0.0-beta.67 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

📝 docs: update documentation for @ng-icons/lucide migration
  CHANGELOG.md
  apps/web/public/documentation/setup/angular/manual/dependencies.md
  apps/web/src/app/domain/pages/change-log/change-log.page.html
  apps/web/src/app/domain/pages/change-log/entries/2026/march-2026.component.ts
  apps/web/src/app/domain/pages/change-log/entries/changelog-registry.ts
Due: eslint --fix, prettier --write

🐛 fix: remove icon component export
  libs/zard/src/index.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.68 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(ui): rename disabled input to zDisabled and implement setDisabledState
  .gitignore
  apps/web/public/components/combobox/demo/disabled.md
  apps/web/public/components/combobox/doc/api.md
  apps/web/public/components/radio/doc/api.md
  apps/web/public/components/toggle-group/doc/api.md
  apps/web/public/installation/manual/combobox.md
  apps/web/public/installation/manual/radio.md
  apps/web/public/installation/manual/segmented.md
  apps/web/public/installation/manual/select.md
  apps/web/public/installation/manual/toggle-group.md
  apps/web/public/r/combobox.json
  apps/web/public/r/radio.json
  apps/web/public/r/registry.json
  apps/web/public/r/segmented.json
  apps/web/public/r/select.json
  apps/web/public/r/toggle-group.json
  libs/zard/src/lib/shared/components/combobox/combobox.component.spec.ts
  libs/zard/src/lib/shared/components/combobox/combobox.component.ts
  libs/zard/src/lib/shared/components/combobox/demo/disabled.ts
  libs/zard/src/lib/shared/components/combobox/doc/api.md
  libs/zard/src/lib/shared/components/radio/doc/api.md
  libs/zard/src/lib/shared/components/radio/radio.component.ts
  libs/zard/src/lib/shared/components/segmented/segmented.component.ts
  libs/zard/src/lib/shared/components/select/select.component.spec.ts
  libs/zard/src/lib/shared/components/select/select.component.ts
  libs/zard/src/lib/shared/components/toggle-group/doc/api.md
  libs/zard/src/lib/shared/components/toggle-group/toggle-group.component.spec.ts
  libs/zard/src/lib/shared/components/toggle-group/toggle-group.component.ts
Due: eslint --fix, prettier --write

🐛 fix(ui): addressing PR comments
  .gitignore
  apps/web-e2e/src/components/dropdown.spec.ts
  apps/web/public/installation/manual/segmented.md
  apps/web/public/installation/manual/select.md
  apps/web/public/r/segmented.json
  apps/web/public/r/select.json
  libs/zard/src/lib/shared/components/combobox/combobox.component.spec.ts
  libs/zard/src/lib/shared/components/segmented/segmented.component.spec.ts
  libs/zard/src/lib/shared/components/segmented/segmented.component.ts
  libs/zard/src/lib/shared/components/select/select.component.ts
Due: eslint --fix, prettier --write

🐛 fix(dialog): remove hardcoded max-width for dialog variants
  apps/web/public/installation/manual/dialog.md
  libs/zard/src/lib/shared/components/dialog/dialog.variants.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.69 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(cli): use cross-platform shebang injection
  packages/cli/project.json
Due: none

🔖 chore(release): publish v1.0.0-beta.70 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🔖 chore(deps): update dependencies and configure Nx analytics
  .gitignore
  apps/web/public/r/registry.json
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: none

🔖 chore(deps): update dependencies and configure Nx analytics (#504)
  .gitignore
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: none

🔖 chore(release): publish v1.0.0-beta.71 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(ui): rename disabled input to zDisabled and implement setDisabledState (#494)
  apps/web-e2e/src/components/dropdown.spec.ts
  apps/web/public/components/combobox/demo/disabled.md
  apps/web/public/components/combobox/doc/api.md
  apps/web/public/components/radio/doc/api.md
  apps/web/public/components/toggle-group/doc/api.md
  apps/web/public/installation/manual/combobox.md
  apps/web/public/installation/manual/radio.md
  apps/web/public/installation/manual/segmented.md
  apps/web/public/installation/manual/select.md
  apps/web/public/installation/manual/toggle-group.md
  apps/web/public/r/combobox.json
  apps/web/public/r/radio.json
  apps/web/public/r/segmented.json
  apps/web/public/r/select.json
  apps/web/public/r/toggle-group.json
  libs/zard/src/lib/shared/components/combobox/combobox.component.spec.ts
  libs/zard/src/lib/shared/components/combobox/combobox.component.ts
  libs/zard/src/lib/shared/components/combobox/demo/disabled.ts
  libs/zard/src/lib/shared/components/combobox/doc/api.md
  libs/zard/src/lib/shared/components/radio/doc/api.md
  libs/zard/src/lib/shared/components/radio/radio.component.ts
  libs/zard/src/lib/shared/components/segmented/segmented.component.spec.ts
  libs/zard/src/lib/shared/components/segmented/segmented.component.ts
  libs/zard/src/lib/shared/components/select/select.component.spec.ts
  libs/zard/src/lib/shared/components/select/select.component.ts
  libs/zard/src/lib/shared/components/toggle-group/doc/api.md
  libs/zard/src/lib/shared/components/toggle-group/toggle-group.component.spec.ts
  libs/zard/src/lib/shared/components/toggle-group/toggle-group.component.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.72 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

📦 refactor(accordion): adopt Angular Aria accordion primitives
  .gitignore
  apps/web/public/installation/manual/accordion.md
  apps/web/public/installation/manual/card.md
  apps/web/public/r/accordion.json
  apps/web/public/r/card.json
  apps/web/public/r/registry.json
  libs/zard/src/lib/shared/components/accordion/accordion-item.component.ts
  libs/zard/src/lib/shared/components/card/card.variants.ts
Due: eslint --fix, prettier --write

📦 refactor(toast): improve type safety and component configuration
  .gitignore
  apps/web/public/components/toast/demo/advanced.md
  apps/web/public/components/toast/demo/default.md
  apps/web/public/components/toast/demo/destructive.md
  apps/web/public/components/toast/demo/loading.md
  apps/web/public/components/toast/demo/position.md
  apps/web/public/components/toast/demo/success.md
  apps/web/public/installation/manual/toast.md
  apps/web/public/r/registry.json
  apps/web/public/r/toast.json
  libs/zard/src/lib/shared/components/toast/demo/advanced.ts
  libs/zard/src/lib/shared/components/toast/demo/default.ts
  libs/zard/src/lib/shared/components/toast/demo/destructive.ts
  libs/zard/src/lib/shared/components/toast/demo/loading.ts
  libs/zard/src/lib/shared/components/toast/demo/position.ts
  libs/zard/src/lib/shared/components/toast/demo/success.ts
  libs/zard/src/lib/shared/components/toast/toast.component.ts
  libs/zard/src/lib/shared/components/toast/toast.variants.ts
Due: eslint --fix, prettier --write

🐛 fix(dialog): remove hardcoded max-width for dialog variants (#503)
  apps/web/public/installation/manual/dialog.md
  libs/zard/src/lib/shared/components/dialog/dialog.variants.ts
Due: eslint --fix, prettier --write

🔧 chore: update registry [skip ci]
  apps/web/public/r/dialog.json
  apps/web/public/r/registry.json
Due: none

🔖 chore(release): publish v1.0.0-beta.73 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

📦 refactor(toast): improve type safety and component configuration (#505)
  .gitignore
  apps/web/public/components/toast/demo/advanced.md
  apps/web/public/components/toast/demo/default.md
  apps/web/public/components/toast/demo/destructive.md
  apps/web/public/components/toast/demo/loading.md
  apps/web/public/components/toast/demo/position.md
  apps/web/public/components/toast/demo/success.md
  apps/web/public/installation/manual/toast.md
  apps/web/public/r/toast.json
  libs/zard/src/lib/shared/components/toast/demo/advanced.ts
  libs/zard/src/lib/shared/components/toast/demo/default.ts
  libs/zard/src/lib/shared/components/toast/demo/destructive.ts
  libs/zard/src/lib/shared/components/toast/demo/loading.ts
  libs/zard/src/lib/shared/components/toast/demo/position.ts
  libs/zard/src/lib/shared/components/toast/demo/success.ts
  libs/zard/src/lib/shared/components/toast/toast.component.ts
  libs/zard/src/lib/shared/components/toast/toast.variants.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.74 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(dropdown): set aria-expanded only on active trigger (#476)
  apps/web-e2e/src/components/dropdown.spec.ts
  apps/web/public/installation/manual/dropdown.md
  apps/web/public/r/dropdown.json
  apps/web/public/r/registry.json
  libs/zard/src/lib/shared/components/dropdown/dropdown-trigger.directive.spec.ts
  libs/zard/src/lib/shared/components/dropdown/dropdown-trigger.directive.ts
  libs/zard/src/lib/shared/components/dropdown/dropdown.service.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.62 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none
