Repository zard-ui/zardui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.html": ["prettier --write"]
}

🐛 fix(sidebar): let an explicit zDefaultOpen win over the cookie
  apps/web-e2e/src/components/sidebar.spec.ts
  libs/zard/src/lib/shared/components/sidebar/demo/collapsible-icon.ts
  libs/zard/src/lib/shared/components/sidebar/demo/collapsible-offcanvas.ts
  libs/zard/src/lib/shared/components/sidebar/demo/custom-trigger.ts
  libs/zard/src/lib/shared/components/sidebar/demo/custom-width.ts
  libs/zard/src/lib/shared/components/sidebar/demo/keyboard-shortcut.ts
  libs/zard/src/lib/shared/components/sidebar/demo/preview.ts
  libs/zard/src/lib/shared/components/sidebar/demo/rail.ts
  libs/zard/src/lib/shared/components/sidebar/demo/rtl.ts
  libs/zard/src/lib/shared/components/sidebar/demo/side-right.ts
  libs/zard/src/lib/shared/components/sidebar/demo/structure.ts
  libs/zard/src/lib/shared/components/sidebar/demo/use-sidebar.ts
  libs/zard/src/lib/shared/components/sidebar/demo/variant-floating.ts
  libs/zard/src/lib/shared/components/sidebar/demo/variant-inset.ts
  libs/zard/src/lib/shared/components/sidebar/doc/api.ts
  libs/zard/src/lib/shared/components/sidebar/doc/snippets.md
  libs/zard/src/lib/shared/components/sidebar/sidebar.component.ts
  libs/zard/src/lib/shared/components/sidebar/sidebar.service.spec.ts
  libs/zard/src/lib/shared/components/sidebar/sidebar.service.ts
Due: eslint --fix, prettier --write

🐛 fix(blocks): centre the header separator next to the sidebar trigger
  libs/blocks/src/lib/sidebar-01/block.ts
  libs/blocks/src/lib/sidebar-01/sidebar-01.component.html
  libs/blocks/src/lib/sidebar-02/block.ts
  libs/blocks/src/lib/sidebar-02/sidebar-02.component.html
  libs/blocks/src/lib/sidebar-03/block.ts
  libs/blocks/src/lib/sidebar-03/sidebar-03.component.html
  libs/blocks/src/lib/sidebar-04/block.ts
  libs/blocks/src/lib/sidebar-04/sidebar-04.component.html
  libs/blocks/src/lib/sidebar-05/block.ts
  libs/blocks/src/lib/sidebar-05/sidebar-05.component.html
  libs/blocks/src/lib/sidebar-06/block.ts
  libs/blocks/src/lib/sidebar-06/sidebar-06.component.html
  libs/blocks/src/lib/sidebar-07/block.ts
  libs/blocks/src/lib/sidebar-07/sidebar-07.component.html
  libs/blocks/src/lib/sidebar-08/block.ts
  libs/blocks/src/lib/sidebar-08/sidebar-08.component.html
  libs/blocks/src/lib/sidebar-09/block.ts
  libs/blocks/src/lib/sidebar-09/sidebar-09.component.html
  libs/blocks/src/lib/sidebar-10/block.ts
  libs/blocks/src/lib/sidebar-10/sidebar-10.component.html
  libs/blocks/src/lib/sidebar-11/block.ts
  libs/blocks/src/lib/sidebar-11/sidebar-11.component.html
  libs/blocks/src/lib/sidebar-12/block.ts
  libs/blocks/src/lib/sidebar-12/sidebar-12.component.html
  libs/blocks/src/lib/sidebar-15/block.ts
  libs/blocks/src/lib/sidebar-15/sidebar-15.component.html
  libs/blocks/src/lib/sidebar-16/block.ts
  libs/blocks/src/lib/sidebar-16/sidebar-16-site-header.component.html
Due: eslint --fix, prettier --write

🚧 chore(generated): refresh sidebar demo and install snippets
  apps/web/src/generated/components/sidebar/demo/collapsible-icon.ts
  apps/web/src/generated/components/sidebar/demo/collapsible-offcanvas.ts
  apps/web/src/generated/components/sidebar/demo/custom-trigger.ts
  apps/web/src/generated/components/sidebar/demo/custom-width.ts
  apps/web/src/generated/components/sidebar/demo/keyboard-shortcut.ts
  apps/web/src/generated/components/sidebar/demo/preview.ts
  apps/web/src/generated/components/sidebar/demo/rail.ts
  apps/web/src/generated/components/sidebar/demo/rtl.ts
  apps/web/src/generated/components/sidebar/demo/side-right.ts
  apps/web/src/generated/components/sidebar/demo/structure.ts
  apps/web/src/generated/components/sidebar/demo/use-sidebar.ts
  apps/web/src/generated/components/sidebar/demo/variant-floating.ts
  apps/web/src/generated/components/sidebar/demo/variant-inset.ts
  apps/web/src/generated/components/sidebar/snippets.ts
  apps/web/src/generated/installation/manual/sidebar.ts
Due: eslint --fix, prettier --write

🚧 chore(blocks): recapture sidebar thumbnails after the separator fix
  apps/web/public/blocks/sidebar-01/dark.png
  apps/web/public/blocks/sidebar-01/light.png
  apps/web/public/blocks/sidebar-02/dark.png
  apps/web/public/blocks/sidebar-02/light.png
  apps/web/public/blocks/sidebar-03/dark.png
  apps/web/public/blocks/sidebar-03/light.png
  apps/web/public/blocks/sidebar-04/dark.png
  apps/web/public/blocks/sidebar-04/light.png
  apps/web/public/blocks/sidebar-05/dark.png
  apps/web/public/blocks/sidebar-05/light.png
  apps/web/public/blocks/sidebar-06/dark.png
  apps/web/public/blocks/sidebar-06/light.png
  apps/web/public/blocks/sidebar-07/dark.png
  apps/web/public/blocks/sidebar-07/light.png
  apps/web/public/blocks/sidebar-08/dark.png
  apps/web/public/blocks/sidebar-08/light.png
  apps/web/public/blocks/sidebar-09/dark.png
  apps/web/public/blocks/sidebar-09/light.png
  apps/web/public/blocks/sidebar-10/dark.png
  apps/web/public/blocks/sidebar-10/light.png
  apps/web/public/blocks/sidebar-11/dark.png
  apps/web/public/blocks/sidebar-11/light.png
  apps/web/public/blocks/sidebar-12/dark.png
  apps/web/public/blocks/sidebar-12/light.png
  apps/web/public/blocks/sidebar-15/dark.png
  apps/web/public/blocks/sidebar-15/light.png
  apps/web/public/blocks/sidebar-16/dark.png
  apps/web/public/blocks/sidebar-16/light.png
Due: none

✏️ refactor(sidebar)!: drop RTL support
  libs/zard/src/lib/shared/components/sidebar/demo/rtl.ts
  libs/zard/src/lib/shared/components/sidebar/demo/sidebar.ts
  libs/zard/src/lib/shared/components/sidebar/doc/api.ts
  libs/zard/src/lib/shared/components/sidebar/sidebar.component.ts
Due: eslint --fix, prettier --write

🐛 fix(sidebar): size the trigger icon at 16px like shadcn
  libs/zard/src/lib/shared/components/sidebar/sidebar.variants.ts
Due: eslint --fix, prettier --write

🚧 chore(registry): sync generated output with the sidebar changes
  apps/web/public/docs/components/sidebar.md
  apps/web/public/docs/components/tooltip.md
  apps/web/public/r/blocks/sidebar-01.json
  apps/web/public/r/blocks/sidebar-02.json
  apps/web/public/r/blocks/sidebar-03.json
  apps/web/public/r/blocks/sidebar-04.json
  apps/web/public/r/blocks/sidebar-05.json
  apps/web/public/r/blocks/sidebar-06.json
  apps/web/public/r/blocks/sidebar-07.json
  apps/web/public/r/blocks/sidebar-08.json
  apps/web/public/r/blocks/sidebar-09.json
  apps/web/public/r/blocks/sidebar-10.json
  apps/web/public/r/blocks/sidebar-11.json
  apps/web/public/r/blocks/sidebar-12.json
  apps/web/public/r/blocks/sidebar-15.json
  apps/web/public/r/blocks/sidebar-16.json
  apps/web/public/r/collapsible.json
  apps/web/public/r/sidebar.json
  apps/web/public/r/tooltip.json
  apps/web/src/generated/components/sidebar/demo/rtl.ts
  apps/web/src/generated/installation/manual/sidebar.ts
Due: eslint --fix, prettier --write

🚧 chore(blocks): recapture thumbnails after the trigger icon fix
  apps/web/public/blocks/sidebar-01/dark.png
  apps/web/public/blocks/sidebar-01/light.png
  apps/web/public/blocks/sidebar-02/dark.png
  apps/web/public/blocks/sidebar-02/light.png
  apps/web/public/blocks/sidebar-03/dark.png
  apps/web/public/blocks/sidebar-03/light.png
  apps/web/public/blocks/sidebar-04/dark.png
  apps/web/public/blocks/sidebar-04/light.png
  apps/web/public/blocks/sidebar-05/dark.png
  apps/web/public/blocks/sidebar-05/light.png
  apps/web/public/blocks/sidebar-06/dark.png
  apps/web/public/blocks/sidebar-06/light.png
  apps/web/public/blocks/sidebar-07/dark.png
  apps/web/public/blocks/sidebar-07/light.png
  apps/web/public/blocks/sidebar-08/dark.png
  apps/web/public/blocks/sidebar-08/light.png
  apps/web/public/blocks/sidebar-09/dark.png
  apps/web/public/blocks/sidebar-09/light.png
  apps/web/public/blocks/sidebar-10/dark.png
  apps/web/public/blocks/sidebar-10/light.png
  apps/web/public/blocks/sidebar-11/dark.png
  apps/web/public/blocks/sidebar-11/light.png
  apps/web/public/blocks/sidebar-12/dark.png
  apps/web/public/blocks/sidebar-12/light.png
  apps/web/public/blocks/sidebar-14/dark.png
  apps/web/public/blocks/sidebar-14/light.png
  apps/web/public/blocks/sidebar-15/dark.png
  apps/web/public/blocks/sidebar-15/light.png
Due: none

⏪️ revert(sidebar): keep RTL support, only the example was meant to go
  apps/web/public/docs/components/sidebar.md
  apps/web/public/r/sidebar.json
  apps/web/src/generated/installation/manual/sidebar.ts
  libs/zard/src/lib/shared/components/sidebar/doc/api.ts
  libs/zard/src/lib/shared/components/sidebar/sidebar.component.ts
Due: eslint --fix, prettier --write

✨ feat(typeset): add the typeset stylesheet to the core
  apps/web/src/styles.css
  libs/zard/src/lib/shared/core/css/typeset.css
Due: none

✨ feat(cli): publish typeset in the registry and install it
  apps/web/public/r/registry.json
  apps/web/public/r/typeset.json
  packages/cli/src/commands/add/dependency-resolver.spec.ts
  packages/cli/src/commands/add/dependency-resolver.ts
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/add/typeset-setup.spec.ts
  packages/cli/src/commands/add/typeset-setup.ts
  packages/cli/src/commands/add/wizard.ts
  packages/cli/src/core/registry/registry-data.ts
  scripts/build-registry.cts
Due: eslint --fix, prettier --write

✨ feat(web): add the typeset builder page
  apps/web/prerender-routes.txt
  apps/web/src/app/app.routes.ts
  apps/web/src/app/domain/pages/typeset/components/font-picker/font-picker.component.ts
  apps/web/src/app/domain/pages/typeset/components/option-picker/option-picker.component.ts
  apps/web/src/app/domain/pages/typeset/components/typeset-code-panel/typeset-code-panel.component.html
  apps/web/src/app/domain/pages/typeset/components/typeset-code-panel/typeset-code-panel.component.ts
  apps/web/src/app/domain/pages/typeset/components/typeset-customizer/typeset-customizer.component.ts
  apps/web/src/app/domain/pages/typeset/components/typeset-preview/typeset-preview.component.ts
  apps/web/src/app/domain/pages/typeset/data/fixtures/article.fixture.ts
  apps/web/src/app/domain/pages/typeset/data/fixtures/changelog.fixture.ts
  apps/web/src/app/domain/pages/typeset/data/fixtures/chat.fixture.ts
  apps/web/src/app/domain/pages/typeset/data/fixtures/docs.fixture.ts
  apps/web/src/app/domain/pages/typeset/data/fixtures/elements.fixture.ts
  apps/web/src/app/domain/pages/typeset/data/fixtures/index.ts
  apps/web/src/app/domain/pages/typeset/data/fixtures/notes.fixture.ts
  apps/web/src/app/domain/pages/typeset/data/fonts.data.ts
  apps/web/src/app/domain/pages/typeset/data/options.data.ts
  apps/web/src/app/domain/pages/typeset/models/typeset.model.ts
  apps/web/src/app/domain/pages/typeset/services/typeset-generator.service.ts
  apps/web/src/app/domain/pages/typeset/typeset.page.html
  apps/web/src/app/domain/pages/typeset/typeset.page.ts
  apps/web/src/app/shared/constants/routes.constant.ts
Due: eslint --fix, prettier --write

✨ feat(utils): add scroll-fade and shimmer CSS utilities
  apps/web/public/r/core.json
  apps/web/public/r/registry.json
  libs/zard/src/lib/shared/core/css/tailwind.css
  skills/zard/SKILL.md
  skills/zard/rules/styling.md
Due: none

✨ feat(web): add the typeset font catalog
  apps/web/src/app/domain/pages/typeset/typeset.page.css
  apps/web/src/app/domain/pages/typeset/typeset.page.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

✨ feat(cli): add create, apply and preset commands
  packages/cli/src/commands/apply/css-patch.spec.ts
  packages/cli/src/commands/apply/css-patch.ts
  packages/cli/src/commands/apply/index.ts
  packages/cli/src/commands/create/example.ts
  packages/cli/src/commands/create/index.ts
  packages/cli/src/commands/create/project-name.spec.ts
  packages/cli/src/commands/create/project-name.ts
  packages/cli/src/commands/create/scaffold.spec.ts
  packages/cli/src/commands/create/scaffold.ts
  packages/cli/src/commands/create/wizard.ts
  packages/cli/src/commands/preset/index.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/open-url.ts
  packages/cli/src/utils/package-manager.ts
Due: eslint --fix, prettier --write

📦 refactor(web): drop the dead markdown tag styling
  apps/web/src/app/shared/services/markdown.service.ts
  apps/web/src/app/shared/services/rehype-typeset.ts
Due: eslint --fix, prettier --write

✨ feat(web): adopt typeset on the theming and typeset docs pages
  apps/web/src/app/domain/pages/theming/theming.page.html
  apps/web/src/app/domain/pages/typeset-docs/typeset-docs.page.html
  apps/web/src/styles.css
Due: prettier --write

📝 docs(skill): teach the zard skill about typeset
  packages/mcp/src/tools/list-components.ts
  skills/zard/SKILL.md
  skills/zard/customization.md
  skills/zard/rules/typeset.md
Due: eslint --fix, prettier --write

🐛 fix(web): reachable code panel and a named options button
  apps/web/src/app/domain/components/ai-assist/ai-assist.component.html
  apps/web/src/app/domain/pages/typeset/components/typeset-code-panel/typeset-code-panel.component.html
Due: prettier --write

🧪 test(typeset): cover the stylesheet, the builder and the CLI item
  apps/web-e2e/src/pages/typeset-builder.spec.ts
  apps/web-e2e/src/pages/typeset-docs.spec.ts
  apps/web/src/app/domain/pages/typeset-docs/typeset-docs.page.spec.ts
  apps/web/src/app/domain/pages/typeset/data/fonts.data.spec.ts
  apps/web/src/app/domain/pages/typeset/services/typeset-generator.service.spec.ts
  packages/mcp/src/tools/list-components.spec.ts
Due: eslint --fix, prettier --write

✨ feat(web): add the /create builder and move /themes onto the preset
  apps/web-e2e/src/pages/create.spec.ts
  apps/web/src/app/app.routes.ts
  apps/web/src/app/domain/pages/create/components/create-canvas.component.ts
  apps/web/src/app/domain/pages/create/components/create-code-dialog.component.ts
  apps/web/src/app/domain/pages/create/components/create-control-card.component.ts
  apps/web/src/app/domain/pages/create/components/create-menu.component.ts
  apps/web/src/app/domain/pages/create/create.page.ts
  apps/web/src/app/domain/pages/create/create.routes.ts
  apps/web/src/app/domain/pages/create/services/create-builder.service.spec.ts
  apps/web/src/app/domain/pages/create/services/create-builder.service.ts
  apps/web/src/app/domain/pages/themes/data/theme-presets.ts
  apps/web/src/app/shared/constants/routes.constant.ts
  apps/web/tsconfig.json
Due: eslint --fix, prettier --write

📦 refactor(web): resolve the default fonts once, drop the assertions
  apps/web/public/llms.txt
  apps/web/src/app/domain/pages/typeset/services/typeset-generator.service.ts
Due: eslint --fix, prettier --write

💄 feat(web): rebuild the landing hero and the component wall
  apps/web/src/app/domain/components/header/header.component.html
  apps/web/src/app/domain/components/header/header.component.ts
  apps/web/src/app/domain/pages/home/components/hero-default-content.component.ts
  apps/web/src/app/domain/pages/home/components/hero-examples-grid.component.ts
  apps/web/src/app/domain/pages/home/components/hero-header.component.ts
  apps/web/src/index.html
  apps/web/src/styles.css
Due: eslint --fix, prettier --write

🐛 fix(web): keep the font catalog under the style budget
  apps/web/src/app/domain/pages/typeset/typeset.page.css
Due: none

🔧 chore(typeset): publish the typeset page markdown
  apps/web/public/docs/typeset.md
Due: none

📝 docs: document create, apply and preset, and presets in theming
  apps/web/public/documentation/cli/commands.md
  apps/web/src/app/domain/pages/cli/sections/commands.component.ts
  apps/web/src/app/domain/pages/theming/theming.page.html
  apps/web/src/app/domain/pages/theming/theming.page.ts
  apps/web/src/generated/documentation/cli/commands.ts
  apps/web/src/generated/pages/cli/commands.ts
  skills/zard/cli.md
  skills/zard/customization.md
Due: eslint --fix, prettier --write

💄 fix(web): separate the create panel from a dark canvas
  apps/web/src/app/domain/pages/create/components/create-menu.component.ts
Due: eslint --fix, prettier --write

✨ feat(hover-card): resolve comments
  apps/web/src/generated/components/hover-card/demo/default.ts
  apps/web/src/generated/components/hover-card/demo/sides.ts
  apps/web/src/generated/installation/manual/hover-card.ts
  libs/zard/src/lib/shared/components/hover-card/demo/default.ts
  libs/zard/src/lib/shared/components/hover-card/demo/hover-card.ts
  libs/zard/src/lib/shared/components/hover-card/demo/sides.ts
  libs/zard/src/lib/shared/components/hover-card/doc/api.md
  libs/zard/src/lib/shared/components/hover-card/doc/api.ts
  libs/zard/src/lib/shared/components/hover-card/doc/overview.md
  libs/zard/src/lib/shared/components/hover-card/hover-card.component.spec.ts
  libs/zard/src/lib/shared/components/hover-card/hover-card.component.ts
  libs/zard/src/lib/shared/components/hover-card/hover-card.variants.ts
Due: eslint --fix, prettier --write

✨ feat(hover-card): update unit tests, demo, api
  apps/web/public/docs/components/hover-card.md
  apps/web/src/generated/components/hover-card/demo/placement.ts
  libs/zard/src/lib/shared/components/hover-card/demo/placement.ts
  libs/zard/src/lib/shared/components/hover-card/doc/api.ts
  libs/zard/src/lib/shared/components/hover-card/hover-card.component.spec.ts
Due: eslint --fix, prettier --write

✨ feat(hover-card): refine hover card component
  libs/zard/src/lib/shared/components/hover-card/hover-card.component.ts
Due: eslint --fix, prettier --write

✨ feat(hover-card): generate markdown
  apps/web/public/docs/components/hover-card.md
Due: none

✨ feat(hover-card): fix failing test, api docs
  apps/web/src/app/domain/components/api-reference/api-reference.component.ts
  apps/web/src/app/domain/components/api-reference/api-reference.types.ts
  libs/zard/src/lib/shared/components/hover-card/doc/api.ts
  libs/zard/src/lib/shared/components/hover-card/hover-card.component.spec.ts
Due: eslint --fix, prettier --write

📦 refactor(hover-card): remove redundant document keydown listener
  libs/zard/src/lib/shared/components/hover-card/hover-card.component.ts
Due: eslint --fix, prettier --write

🐛 fix(hover-card): improve controlled visibility handling
  apps/web/src/generated/installation/manual/hover-card.ts
  libs/zard/src/lib/shared/components/hover-card/hover-card.component.spec.ts
Due: eslint --fix, prettier --write

✨ feat(hover-card): implement logic and amend tests
  libs/zard/src/lib/shared/components/hover-card/hover-card.component.spec.ts
  libs/zard/src/lib/shared/components/hover-card/hover-card.component.ts
Due: eslint --fix, prettier --write

✨ feat(hover-card): add documentation
  libs/zard/src/lib/shared/components/hover-card/doc/api.md
  libs/zard/src/lib/shared/components/hover-card/doc/overview.md
Due: none

🐛 fix(hover-card): prevent passive close when visibility is controlled
  libs/zard/src/lib/shared/components/hover-card/hover-card.component.spec.ts
  libs/zard/src/lib/shared/components/hover-card/hover-card.component.ts
Due: eslint --fix, prettier --write
