Repository zard-ui/zardui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.html": ["prettier --write"]
}

🔧 chore: update registry [skip ci]
  apps/web/public/r/registry.json
Due: none

🔖 chore(release): publish v1.0.0-beta.58 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

✨ feat(generators): add Nx component scaffold generator
  package.json
  tools/generators.json
  tools/generators/component/files/__name__/__name__.component.spec.ts.template
  tools/generators/component/files/__name__/__name__.component.ts.template
  tools/generators/component/files/__name__/__name__.variants.ts.template
  tools/generators/component/files/__name__/demo/__name__.ts.template
  tools/generators/component/files/__name__/demo/default.ts.template
  tools/generators/component/files/__name__/doc/api.md.template
  tools/generators/component/files/__name__/index.ts.template
  tools/generators/component/index.ts
  tools/generators/component/public-files/__name__/demo/default.md.template
  tools/generators/component/public-files/__name__/doc/api.md.template
  tools/generators/component/schema.d.ts
  tools/generators/component/schema.json
  tools/package.json
  tools/project.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

✨ feat(about): redesign founders and maintainers cards
  apps/web/src/app/domain/components/founders/founders.component.ts
  apps/web/src/app/domain/components/maintainers/maintainers.component.ts
Due: eslint --fix, prettier --write

✨ feat(generators): add Nx component scaffold generator (#457)
  package.json
  tools/generators.json
  tools/generators/component/files/__name__/__name__.component.spec.ts.template
  tools/generators/component/files/__name__/__name__.component.ts.template
  tools/generators/component/files/__name__/__name__.variants.ts.template
  tools/generators/component/files/__name__/demo/__name__.ts.template
  tools/generators/component/files/__name__/demo/default.ts.template
  tools/generators/component/files/__name__/doc/api.md.template
  tools/generators/component/files/__name__/index.ts.template
  tools/generators/component/index.ts
  tools/generators/component/public-files/__name__/demo/default.md.template
  tools/generators/component/public-files/__name__/doc/api.md.template
  tools/generators/component/schema.d.ts
  tools/generators/component/schema.json
  tools/package.json
  tools/project.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.59 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

✨ feat(generators): add block scaffold generator and sync script
  package.json
  scripts/sync-blocks.ts
  tools/generators.json
  tools/generators/block/files/__name__/__name__.component.html.template
  tools/generators/block/files/__name__/__name__.component.ts.template
  tools/generators/block/files/__name__/block.ts.template
  tools/generators/block/index.ts
  tools/generators/block/schema.d.ts
  tools/generators/block/schema.json
Due: eslint --fix, prettier --write

✨ feat(about): redesign founders and maintainers cards (#458)
  apps/web/src/app/domain/components/founders/founders.component.ts
  apps/web/src/app/domain/components/maintainers/maintainers.component.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.60 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

✨ feat(generators): add block scaffold generator and sync script (#459)
  package.json
  scripts/sync-blocks.ts
  tools/generators.json
  tools/generators/block/files/__name__/__name__.component.html.template
  tools/generators/block/files/__name__/__name__.component.ts.template
  tools/generators/block/files/__name__/block.ts.template
  tools/generators/block/index.ts
  tools/generators/block/schema.d.ts
  tools/generators/block/schema.json
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.61 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🧪 test(cli): add multi-runner test suite for all 4 package managers
  packages/cli/src/commands/add/add.spec.ts
  packages/cli/src/commands/init/dependencies.spec.ts
  packages/cli/src/commands/init/init.spec.ts
  packages/cli/src/utils/package-manager.spec.ts
Due: eslint --fix, prettier --write

🚧 chore: add better-tailwindcss eslint plugin and fix class issues
  apps/web/public/r/carousel.json
  apps/web/public/r/combobox.json
  apps/web/public/r/registry.json
  apps/web/public/r/skeleton.json
  eslint.config.mjs
  libs/zard/eslint.config.mjs
  libs/zard/src/lib/shared/components/skeleton/demo/card.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

✨ feat(web): add theme switching and copy CSS to landing page hero
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/button-group-nested.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/button-group-popover.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/button-group-toolbar.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/empty-avatar-group.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-examples-grid.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-nav-tabs.component.ts
  apps/web/src/styles.css
Due: eslint --fix, prettier --write

🐛 fix(web): address CodeRabbit review feedback on landing page blocks
  apps/web/src/app/domain/pages/examples/examples.routes.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/appearance-settings.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/button-group-popover.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/field-hear.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/field-slider.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-chat.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-secure.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-stack.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/item-two-factor.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/item-verified.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/notion-prompt-form.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/payment-form.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-nav-tabs.component.ts
Due: eslint --fix, prettier --write

🐛 fix(dropdown): set aria-expanded only on active trigger
  apps/web/public/installation/manual/dropdown.md
  apps/web/public/r/dropdown.json
  apps/web/public/r/registry.json
  libs/zard/src/lib/shared/components/dropdown/dropdown-trigger.directive.spec.ts
  libs/zard/src/lib/shared/components/dropdown/dropdown-trigger.directive.ts
  libs/zard/src/lib/shared/components/dropdown/dropdown.service.ts
Due: eslint --fix, prettier --write

🐛 fix(web): address second round CodeRabbit review feedback
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/appearance-settings.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-chat.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-secure.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-stack.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/notion-prompt-form.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-nav-tabs.component.ts
Due: eslint --fix, prettier --write

🧪 test(e2e): add accessibility tests for dropdown navigation and aria attributes
  apps/web-e2e/src/components/dropdown.spec.ts
Due: eslint --fix, prettier --write

🐛 fix(web): address third round CodeRabbit review feedback
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-secure.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/notion-prompt-form.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-nav-tabs.component.ts
Due: eslint --fix, prettier --write

🐛 fix(dropdown): set aria-expanded only on active trigger (#476)
  apps/web-e2e/src/components/dropdown.spec.ts
  apps/web/public/installation/manual/dropdown.md
  apps/web/public/r/dropdown.json
  apps/web/public/r/registry.json
  libs/zard/src/lib/shared/components/dropdown/dropdown-trigger.directive.spec.ts
  libs/zard/src/lib/shared/components/dropdown/dropdown-trigger.directive.ts
  libs/zard/src/lib/shared/components/dropdown/dropdown.service.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.62 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🔖 chore(release): publish v1.0.0-beta.63 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

✨ feat(web): add Version Support documentation page
  apps/web/src/app/app.routes.ts
  apps/web/src/app/domain/pages/version-support/version-support.page.html
  apps/web/src/app/domain/pages/version-support/version-support.page.ts
  apps/web/src/app/shared/constants/routes.constant.ts
Due: eslint --fix, prettier --write

✨ feat: adding version support page
  apps/web/src/app/domain/pages/version-support/version-support.page.html
Due: prettier --write

✨ feat(ui): migrate icon component from lucide-angular to ng-icons
  .gitignore
  apps/web/public/components/icon/doc/api.md
  apps/web/public/components/icon/doc/overview.md
  apps/web/public/installation/manual/icon.md
  apps/web/public/r/core.json
  apps/web/public/r/icon.json
  apps/web/src/app/domain/components/ai-assist/ai-assist.component.html
  apps/web/src/app/domain/components/ai-assist/ai-assist.component.ts
  apps/web/src/app/domain/components/color-card/color-card.component.html
  apps/web/src/app/domain/components/color-card/color-card.component.ts
  apps/web/src/app/domain/components/header/header.component.html
  apps/web/src/app/domain/components/header/header.component.ts
  apps/web/src/app/domain/pages/blocks/block-instructions/block-instructions.page.html
  apps/web/src/app/domain/pages/blocks/block-instructions/block-instructions.page.ts
  libs/zard/package-lock.json
  libs/zard/package.json
  libs/zard/src/lib/shared/components/icon/demo/icon.ts
  libs/zard/src/lib/shared/components/icon/doc/api.md
  libs/zard/src/lib/shared/components/icon/doc/overview.md
  libs/zard/src/lib/shared/components/icon/icon.component.spec.ts
  libs/zard/src/lib/shared/components/icon/icon.component.ts
  libs/zard/src/lib/shared/components/icon/icons.ts
  libs/zard/src/lib/shared/core/provider/providezard.ts
  package-lock.json
  package.json
  packages/cli/src/commands/init/dependencies.ts
  scripts/generate-installation-guides.cts
Due: eslint --fix, prettier --write

📦 refactor(ui): replace ZardIconComponent with NgIcon for accordion
  apps/web/public/installation/manual/accordion.md
  libs/zard/src/lib/shared/components/accordion/accordion-item.component.ts
  libs/zard/src/lib/shared/core/provider/providezard.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(ui): replace ZardIconComponent with NgIcon for alert
  apps/web/public/components/alert/demo/basic.md
  apps/web/public/components/alert/doc/api.md
  apps/web/public/installation/manual/alert.md
  apps/web/src/app/domain/pages/cli/sections/update.component.ts
  apps/web/src/app/domain/pages/themes/components/theme-preview/theme-preview.component.html
  apps/web/src/app/domain/pages/themes/components/theme-preview/theme-preview.component.ts
  libs/zard/src/lib/shared/components/alert/alert.component.spec.ts
  libs/zard/src/lib/shared/components/alert/alert.component.ts
  libs/zard/src/lib/shared/components/alert/demo/basic.ts
  libs/zard/src/lib/shared/components/alert/doc/api.md
Due: eslint --fix, prettier --write

📦 refactor(breadcrumb): update icon usage to NgIcon in breadcrumb components
  apps/web/public/components/breadcrumb/demo/default.md
  apps/web/public/components/breadcrumb/demo/ellipsis.md
  apps/web/public/components/breadcrumb/demo/separator.md
  apps/web/public/installation/manual/breadcrumb.md
  apps/web/public/installation/manual/icon.md
  libs/zard/src/lib/shared/components/breadcrumb/breadcrumb.component.spec.ts
  libs/zard/src/lib/shared/components/breadcrumb/breadcrumb.component.ts
  libs/zard/src/lib/shared/components/breadcrumb/demo/default.ts
  libs/zard/src/lib/shared/components/breadcrumb/demo/ellipsis.ts
  libs/zard/src/lib/shared/components/breadcrumb/demo/separator.ts
  libs/zard/src/lib/shared/components/icon/icons.ts
Due: eslint --fix, prettier --write

📦 refactor(components): use zard icons instead of lucide in alert and accordion components
  apps/web/public/components/alert/demo/basic.md
  apps/web/public/installation/manual/accordion.md
  apps/web/public/installation/manual/alert.md
  libs/zard/src/lib/shared/components/accordion/accordion-item.component.ts
  libs/zard/src/lib/shared/components/accordion/accordion.component.spec.ts
  libs/zard/src/lib/shared/components/alert/alert.component.spec.ts
  libs/zard/src/lib/shared/components/alert/alert.component.ts
  libs/zard/src/lib/shared/components/alert/demo/basic.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(core): move icon registry to core directory
  apps/web/public/components/alert/demo/basic.md
  apps/web/public/components/breadcrumb/demo/default.md
  apps/web/public/components/breadcrumb/demo/separator.md
  apps/web/public/components/icon/demo/searchable.md
  apps/web/public/installation/manual/accordion.md
  apps/web/public/installation/manual/alert.md
  apps/web/public/installation/manual/dialog.md
  apps/web/public/installation/manual/empty.md
  apps/web/public/installation/manual/icon.md
  apps/web/public/installation/manual/sheet.md
  apps/web/public/installation/manual/toggle-group.md
  apps/web/src/app/domain/components/benefits/benefits.component.ts
  apps/web/src/app/domain/components/block-container/block-container.component.ts
  apps/web/src/app/domain/pages/introduction/sections/ai-ready.component.ts
  apps/web/src/app/domain/pages/introduction/sections/open-source.component.ts
  apps/web/src/app/domain/pages/introduction/sections/why-zardui.component.ts
  libs/zard/src/lib/shared/components/accordion/accordion-item.component.ts
  libs/zard/src/lib/shared/components/alert/alert.component.ts
  libs/zard/src/lib/shared/components/alert/demo/basic.ts
  libs/zard/src/lib/shared/components/breadcrumb/demo/default.ts
  libs/zard/src/lib/shared/components/breadcrumb/demo/separator.ts
  libs/zard/src/lib/shared/components/dialog/dialog.component.ts
  libs/zard/src/lib/shared/components/empty/empty.component.ts
  libs/zard/src/lib/shared/components/icon/demo/searchable.ts
  libs/zard/src/lib/shared/components/icon/icon.component.ts
  libs/zard/src/lib/shared/components/icon/index.ts
  libs/zard/src/lib/shared/components/sheet/sheet.component.ts
  libs/zard/src/lib/shared/components/toggle-group/toggle-group.component.ts
  libs/zard/src/lib/shared/core/icons-registry.ts
  libs/zard/src/lib/shared/core/index.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

✨ refactor(button): migrate from ZardIconComponent to NgIcon
  apps/web/public/components/button/demo/default.md
  apps/web/public/components/button/demo/size.md
  apps/web/public/components/icon/demo/searchable.md
  apps/web/public/installation/manual/alert.md
  apps/web/public/installation/manual/button.md
  apps/web/public/installation/manual/dialog.md
  apps/web/public/installation/manual/empty.md
  apps/web/public/installation/manual/sheet.md
  apps/web/public/installation/manual/toggle-group.md
  libs/zard/src/lib/shared/components/button/button.component.spec.ts
  libs/zard/src/lib/shared/components/button/button.component.ts
  libs/zard/src/lib/shared/components/button/demo/default.ts
  libs/zard/src/lib/shared/components/button/demo/size.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(ui): migrate checkbox from ZardIconComponent to NgIcon
  apps/web/public/documentation/dark-mode/step-1-tailwind.md
  apps/web/public/documentation/setup/angular/manual/styles.md
  apps/web/public/documentation/theming/css-variables-v4.md
  apps/web/public/installation/manual/checkbox.md
  apps/web/src/app/domain/pages/themes/services/theme-generator.service.ts
  apps/web/src/styles.css
  libs/zard/src/lib/shared/components/checkbox/checkbox.component.ts
  packages/cli/src/core/registry/registry-data.ts
  packages/cli/src/core/themes/theme-definitions.ts
Due: eslint --fix, prettier --write
