Repository zard-ui/zardui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.html": ["prettier --write"]
}

📝 docs(contribute): add generated page markdown and raise the initial bundle budget
  apps/web/project.json
  apps/web/public/docs/contribute.md
  apps/web/public/docs/contribute/architecture.md
  apps/web/public/docs/contribute/blocks.md
  apps/web/public/docs/contribute/components.md
  apps/web/public/docs/contribute/documentation.md
  apps/web/public/docs/contribute/faq.md
  apps/web/public/docs/contribute/project-structure.md
  apps/web/public/docs/contribute/release.md
  apps/web/public/docs/contribute/setup.md
  apps/web/public/docs/contribute/testing.md
  apps/web/public/docs/contribute/workflow.md
Due: none

🚧 chore(changelog): refresh the generated changelog markdown
  apps/web/public/docs/changelog.md
Due: none

💄 style(theming): improve accessibility and responsive layout
  apps/web/public/documentation/theming/base-colors-gray.md
  apps/web/public/documentation/theming/base-colors-neutral.md
  apps/web/public/documentation/theming/base-colors-slate.md
  apps/web/public/documentation/theming/base-colors-stone.md
  apps/web/public/documentation/theming/base-colors-zinc.md
  apps/web/public/documentation/theming/css-variables-v4.md
  apps/web/src/app/domain/pages/theming/components/base-color-preview/base-color-preview.component.html
  apps/web/src/app/domain/pages/theming/components/convention-preview/convention-preview.component.html
  apps/web/src/app/domain/pages/theming/components/convention-preview/convention-preview.component.ts
  apps/web/src/app/domain/pages/theming/components/next-steps/next-steps.component.ts
  apps/web/src/app/domain/pages/theming/components/radius-preview/radius-preview.component.html
  apps/web/src/app/domain/pages/theming/components/theme-anatomy/theme-anatomy.component.html
  apps/web/src/app/domain/pages/theming/components/token-table/token-table.component.html
  apps/web/src/app/domain/pages/theming/components/troubleshooting-list/troubleshooting-list.component.ts
  apps/web/src/app/domain/pages/theming/data/base-colors.data.ts
  apps/web/src/app/domain/pages/theming/data/migration.data.ts
  apps/web/src/app/domain/pages/theming/data/troubleshooting.data.ts
  apps/web/src/app/domain/pages/theming/theming.page.html
  apps/web/src/app/domain/pages/theming/theming.page.ts
  apps/web/src/generated/documentation/theming/base-colors-gray.ts
  apps/web/src/generated/documentation/theming/base-colors-neutral.ts
  apps/web/src/generated/documentation/theming/base-colors-slate.ts
  apps/web/src/generated/documentation/theming/base-colors-stone.ts
  apps/web/src/generated/documentation/theming/base-colors-zinc.ts
  apps/web/src/generated/documentation/theming/css-variables-v4.ts
  apps/web/src/generated/pages/theming/base-colors-gray.ts
  apps/web/src/generated/pages/theming/base-colors-neutral.ts
  apps/web/src/generated/pages/theming/base-colors-slate.ts
  apps/web/src/generated/pages/theming/base-colors-stone.ts
  apps/web/src/generated/pages/theming/base-colors-zinc.ts
  apps/web/src/generated/pages/theming/css-variables-v4.ts
Due: eslint --fix, prettier --write

📝 docs(theming): update page metadata and regenerate markdown output
  apps/web/project.json
  apps/web/public/docs/theming.md
  apps/web/src/app/domain/pages/theming/components/base-color-preview/base-color-preview.component.html
  apps/web/src/app/domain/pages/theming/components/convention-preview/convention-preview.component.html
  apps/web/src/app/domain/pages/theming/components/migration-table/migration-table.component.ts
  apps/web/src/app/domain/pages/theming/components/next-steps/next-steps.component.ts
  apps/web/src/app/domain/pages/theming/components/radius-preview/radius-preview.component.html
  apps/web/src/app/domain/pages/theming/components/theme-anatomy/theme-anatomy.component.html
  apps/web/src/app/domain/pages/theming/components/token-table/token-table.component.html
  apps/web/src/app/domain/pages/theming/components/token-table/token-table.component.ts
  apps/web/src/app/domain/pages/theming/components/troubleshooting-list/troubleshooting-list.component.ts
  apps/web/src/app/domain/pages/theming/data/tokens.data.ts
  apps/web/src/app/domain/pages/theming/models/theming.model.ts
  apps/web/src/app/domain/pages/theming/pipes/inline-code.pipe.ts
  apps/web/src/app/domain/pages/theming/theming.page.html
  apps/web/src/app/shared/constants/docs.constant.ts
  apps/web/src/server.ts
Due: eslint --fix, prettier --write

🧪 test(theming): cover theming page structure and interactions
  apps/web/src/app/domain/pages/theming/components/token-table/token-table.component.spec.ts
  apps/web/src/app/domain/pages/theming/pipes/inline-code.pipe.spec.ts
  apps/web/src/app/domain/pages/theming/theming.page.spec.ts
  apps/web/src/app/domain/pages/theming/utils/theme-css.util.spec.ts
Due: eslint --fix, prettier --write

📝 docs(theming): keep token names and values in markdown output
  apps/web/public/docs/theming.md
  apps/web/src/app/domain/pages/theming/components/next-steps/next-steps.component.ts
  apps/web/src/app/domain/pages/theming/components/token-table/token-table.component.html
  apps/web/src/app/domain/pages/theming/components/token-table/token-table.component.ts
Due: eslint --fix, prettier --write

✨ feat(about): add sponsors section and rework credits hierarchy
  apps/web/generate-docs-markdown.mjs
  apps/web/public/docs/about.md
  apps/web/src/app/domain/components/contributors/contributors-loading.component.ts
  apps/web/src/app/domain/components/contributors/contributors.component.ts
  apps/web/src/app/domain/components/credit-card/credit-card.component.ts
  apps/web/src/app/domain/components/founders/founders-loading.component.ts
  apps/web/src/app/domain/components/founders/founders.component.ts
  apps/web/src/app/domain/components/maintainers/maintainers-loading.component.ts
  apps/web/src/app/domain/components/maintainers/maintainers.component.ts
  apps/web/src/app/domain/components/sponsors/sponsors-loading.component.ts
  apps/web/src/app/domain/components/sponsors/sponsors.component.ts
  apps/web/src/app/domain/pages/about/about.page.html
  apps/web/src/app/domain/pages/about/about.page.ts
  apps/web/src/app/shared/constants/sponsors.constant.ts
  apps/web/src/app/shared/services/github.service.ts
Due: eslint --fix, prettier --write

🐛 fix(about): keep sponsors out of the initial bundle and fix table escaping
  apps/web/generate-docs-markdown.mjs
  apps/web/project.json
  apps/web/src/app/domain/pages/about/about.page.ts
  apps/web/src/app/shared/services/github.service.ts
  apps/web/src/app/shared/services/sponsors.service.ts
Due: eslint --fix, prettier --write

✨ feat(about): add sponsors section and rework credits hierarchy (#672)
  apps/web/generate-docs-markdown.mjs
  apps/web/project.json
  apps/web/public/docs/about.md
  apps/web/src/app/domain/components/contributors/contributors-loading.component.ts
  apps/web/src/app/domain/components/contributors/contributors.component.ts
  apps/web/src/app/domain/components/credit-card/credit-card.component.ts
  apps/web/src/app/domain/components/founders/founders-loading.component.ts
  apps/web/src/app/domain/components/founders/founders.component.ts
  apps/web/src/app/domain/components/maintainers/maintainers-loading.component.ts
  apps/web/src/app/domain/components/maintainers/maintainers.component.ts
  apps/web/src/app/domain/components/sponsors/sponsors-loading.component.ts
  apps/web/src/app/domain/components/sponsors/sponsors.component.ts
  apps/web/src/app/domain/pages/about/about.page.html
  apps/web/src/app/domain/pages/about/about.page.ts
  apps/web/src/app/shared/constants/sponsors.constant.ts
  apps/web/src/app/shared/services/sponsors.service.ts
Due: eslint --fix, prettier --write

🔧 chore: update registry [skip ci]
  apps/web/public/r/registry.json
Due: none

🔖 chore(release): publish v1.0.0-beta.85 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

✨ feat(docs): add featured module with youtube page
  apps/web/prerender-routes.txt
  apps/web/public/docs/featured/youtube.md
  apps/web/src/app/app.routes.ts
  apps/web/src/app/domain/components/youtube/youtube.component.ts
  apps/web/src/app/domain/pages/featured/data/featured-videos.ts
  apps/web/src/app/domain/pages/featured/featured.routes.ts
  apps/web/src/app/domain/pages/featured/youtube/youtube.page.html
  apps/web/src/app/domain/pages/featured/youtube/youtube.page.ts
  apps/web/src/app/shared/constants/routes.constant.ts
Due: eslint --fix, prettier --write

Feat/zard youtube (#673)
  apps/web/prerender-routes.txt
  apps/web/public/docs/featured/youtube.md
  apps/web/src/app/app.routes.ts
  apps/web/src/app/domain/components/youtube/youtube.component.ts
  apps/web/src/app/domain/pages/featured/data/featured-videos.ts
  apps/web/src/app/domain/pages/featured/featured.routes.ts
  apps/web/src/app/domain/pages/featured/youtube/youtube.page.html
  apps/web/src/app/domain/pages/featured/youtube/youtube.page.ts
  apps/web/src/app/shared/constants/routes.constant.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.86 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

📦 refactor(theming): drop setup and migration sections
  apps/web/public/docs/theming.md
  apps/web/public/documentation/theming/app.config.md
  apps/web/public/documentation/theming/quick-start.md
  apps/web/src/app/domain/pages/theming/components/migration-table/migration-table.component.ts
  apps/web/src/app/domain/pages/theming/components/next-steps/next-steps.component.ts
  apps/web/src/app/domain/pages/theming/data/anatomy.data.ts
  apps/web/src/app/domain/pages/theming/data/migration.data.ts
  apps/web/src/app/domain/pages/theming/data/troubleshooting.data.ts
  apps/web/src/app/domain/pages/theming/models/theming.model.ts
  apps/web/src/app/domain/pages/theming/theming.page.html
  apps/web/src/app/domain/pages/theming/theming.page.ts
  apps/web/src/generated/documentation/theming/app.config.ts
  apps/web/src/generated/documentation/theming/quick-start.ts
  apps/web/src/generated/pages/theming/app.config.ts
  apps/web/src/generated/pages/theming/quick-start.ts
Due: eslint --fix, prettier --write

🐛 fix(changelog): stretch the slider demo to fill its preview
  .claude/commands/changelog.md
  apps/web/src/app/domain/pages/change-log/components/changelog-examples.component.ts
  apps/web/src/app/domain/pages/change-log/entries/2025/may-2025.examples.ts
  apps/web/src/app/domain/pages/change-log/entries/changelog-entry.interface.ts
Due: eslint --fix, prettier --write

📝 docs(changelog): add the May, July and August 2026 entries
  apps/web/src/app/domain/pages/change-log/entries/2026/august-2026.examples.ts
  apps/web/src/app/domain/pages/change-log/entries/2026/august-2026.ts
  apps/web/src/app/domain/pages/change-log/entries/2026/july-2026.examples.ts
  apps/web/src/app/domain/pages/change-log/entries/2026/july-2026.ts
  apps/web/src/app/domain/pages/change-log/entries/2026/may-2026.ts
  apps/web/src/app/domain/pages/change-log/entries/changelog-registry.ts
Due: eslint --fix, prettier --write

💄 style(changelog): align month headings with the docs typography
  apps/web/src/app/domain/pages/change-log/change-log.page.html
Due: prettier --write

🚧 chore(changelog): drop the avatar initials from the generated markdown
  apps/web/public/docs/changelog.md
Due: none

🔖 chore(release): publish v1.0.0-beta.87 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix: removing copy-page spec
  apps/web-e2e/src/copy-page.spec.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.88 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🔖 chore(release): publish v1.0.0-beta.89 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

📝 docs(registry): add the registry documentation page
  apps/web/prerender-routes.txt
  apps/web/public/docs/registry.md
  apps/web/src/app/app.routes.ts
  apps/web/src/app/domain/pages/registry/registry.page.ts
  apps/web/src/app/domain/pages/registry/sections/blocks.component.ts
  apps/web/src/app/domain/pages/registry/sections/consuming.component.ts
  apps/web/src/app/domain/pages/registry/sections/contributing.component.ts
  apps/web/src/app/domain/pages/registry/sections/custom-registry.component.ts
  apps/web/src/app/domain/pages/registry/sections/dependencies.component.ts
  apps/web/src/app/domain/pages/registry/sections/how-it-works.component.ts
  apps/web/src/app/domain/pages/registry/sections/item-schema.component.ts
  apps/web/src/app/domain/pages/registry/sections/local-development.component.ts
  apps/web/src/app/domain/pages/registry/sections/overview.component.ts
  apps/web/src/app/domain/pages/registry/sections/registry-json.component.ts
  apps/web/src/app/shared/constants/routes.constant.ts
  apps/web/src/generated/pages/registry/blocks.ts
  apps/web/src/generated/pages/registry/consuming.ts
  apps/web/src/generated/pages/registry/contributing.ts
  apps/web/src/generated/pages/registry/custom-registry.ts
  apps/web/src/generated/pages/registry/dependencies.ts
  apps/web/src/generated/pages/registry/item-schema.ts
  apps/web/src/generated/pages/registry/local-development.ts
  apps/web/src/generated/pages/registry/registry-json.ts
  apps/web/src/server.ts
Due: eslint --fix, prettier --write

Feat/registry page (#677)
  apps/web/prerender-routes.txt
  apps/web/public/docs/registry.md
  apps/web/src/app/app.routes.ts
  apps/web/src/app/domain/pages/registry/registry.page.ts
  apps/web/src/app/domain/pages/registry/sections/blocks.component.ts
  apps/web/src/app/domain/pages/registry/sections/consuming.component.ts
  apps/web/src/app/domain/pages/registry/sections/contributing.component.ts
  apps/web/src/app/domain/pages/registry/sections/custom-registry.component.ts
  apps/web/src/app/domain/pages/registry/sections/dependencies.component.ts
  apps/web/src/app/domain/pages/registry/sections/how-it-works.component.ts
  apps/web/src/app/domain/pages/registry/sections/item-schema.component.ts
  apps/web/src/app/domain/pages/registry/sections/local-development.component.ts
  apps/web/src/app/domain/pages/registry/sections/overview.component.ts
  apps/web/src/app/domain/pages/registry/sections/registry-json.component.ts
  apps/web/src/app/shared/constants/routes.constant.ts
  apps/web/src/generated/pages/registry/blocks.ts
  apps/web/src/generated/pages/registry/consuming.ts
  apps/web/src/generated/pages/registry/contributing.ts
  apps/web/src/generated/pages/registry/custom-registry.ts
  apps/web/src/generated/pages/registry/dependencies.ts
  apps/web/src/generated/pages/registry/item-schema.ts
  apps/web/src/generated/pages/registry/local-development.ts
  apps/web/src/generated/pages/registry/registry-json.ts
  apps/web/src/server.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.90 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

📝 docs(contribute): move sidebar section after components and fix guide map overflow
  apps/web/prerender-routes.txt
  apps/web/public/llms.txt
  apps/web/src/app/domain/components/ai-assist/ai-assist.component.ts
  apps/web/src/app/domain/pages/contribute/overview/overview.page.html
  apps/web/src/app/shared/constants/routes.constant.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.91 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

✨ feat(table): added table footer and tests
  apps/web/public/docs/components/table.md
  apps/web/public/r/table.json
  apps/web/src/generated/components/table/demo/footer.ts
  apps/web/src/generated/installation/manual/table.ts
  libs/zard/src/lib/shared/components/table/demo/footer.ts
  libs/zard/src/lib/shared/components/table/demo/table.ts
  libs/zard/src/lib/shared/components/table/doc/api.ts
  libs/zard/src/lib/shared/components/table/table.component.spec.ts
  libs/zard/src/lib/shared/components/table/table.component.ts
  libs/zard/src/lib/shared/components/table/table.imports.ts
  libs/zard/src/lib/shared/components/table/table.variants.ts
Due: eslint --fix, prettier --write
