Repository zard-ui/zardui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.html": ["prettier --write"]
}

📦 refactor(calendar): migrate calendar-navigation to ng-icon
  apps/web/public/installation/manual/calendar.md
  libs/zard/src/lib/shared/components/accordion/accordion.component.spec.ts
  libs/zard/src/lib/shared/components/alert/alert.component.spec.ts
  libs/zard/src/lib/shared/components/calendar/calendar-navigation.component.ts
  package-lock.json
  package.json
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(carousel): migrate from ZardIconComponent to NgIcon
  apps/web/public/installation/manual/carousel.md
  libs/zard/src/lib/shared/components/alert/alert.component.spec.ts
  libs/zard/src/lib/shared/components/carousel/carousel.component.spec.ts
  libs/zard/src/lib/shared/components/carousel/carousel.component.ts
  libs/zard/src/lib/shared/components/carousel/carousel.variants.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(date-picker): migrate from ZardIconComponent to NgIcon
  apps/web/public/installation/manual/date-picker.md
  libs/zard/src/lib/shared/components/date-picker/date-picker.component.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(toggle-group): replace ZardIconComponent with NgIcon and update icon type
  apps/web/public/components/toggle-group/demo/default.md
  apps/web/public/components/toggle-group/demo/outline.md
  apps/web/public/components/toggle-group/demo/single.md
  apps/web/public/components/toggle-group/demo/sizes.md
  apps/web/public/components/toggle-group/demo/with-text.md
  apps/web/public/installation/manual/toggle-group.md
  libs/zard/src/lib/shared/components/toggle-group/demo/default.ts
  libs/zard/src/lib/shared/components/toggle-group/demo/outline.ts
  libs/zard/src/lib/shared/components/toggle-group/demo/single.ts
  libs/zard/src/lib/shared/components/toggle-group/demo/sizes.ts
  libs/zard/src/lib/shared/components/toggle-group/demo/with-text.ts
  libs/zard/src/lib/shared/components/toggle-group/toggle-group.component.spec.ts
  libs/zard/src/lib/shared/components/toggle-group/toggle-group.component.ts
  libs/zard/src/lib/shared/core/icons-registry.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

🧪 docs(icon): add deprecation notices for ZardIconComponent migration
  apps/web/public/installation/manual/icon.md
  libs/zard/src/lib/shared/components/icon/icon.component.ts
  libs/zard/src/lib/shared/core/icons-registry.ts
Due: eslint --fix, prettier --write

📦 refactor(dialog): migrate from ZardIconComponent to NgIcon
  apps/web/public/components/dialog/demo/icons.md
  apps/web/public/installation/manual/dialog.md
  libs/zard/src/lib/shared/components/dialog/demo/dialog.ts
  libs/zard/src/lib/shared/components/dialog/demo/icons.ts
  libs/zard/src/lib/shared/components/dialog/dialog.component.spec.ts
  libs/zard/src/lib/shared/components/dialog/dialog.component.ts
  libs/zard/src/lib/shared/components/dialog/dialog.service.spec.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(command): replace ZardIconComponent with NgIcon implementation
  apps/web/public/installation/manual/command.md
  libs/zard/src/lib/shared/components/command/command-input.component.ts
  libs/zard/src/lib/shared/components/command/command-option.component.spec.ts
  libs/zard/src/lib/shared/components/command/command-option.component.ts
  libs/zard/src/lib/shared/components/command/command.component.spec.ts
  libs/zard/src/lib/shared/components/command/command.component.ts
  libs/zard/src/lib/shared/components/command/demo/default.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(sheet): migrate from ZardIconComponent to NgIcon
  apps/web/public/components/command/demo/default.md
  apps/web/public/components/dialog/demo/icons.md
  apps/web/public/components/sheet/demo/basic.md
  apps/web/public/installation/manual/sheet.md
  libs/zard/src/lib/shared/components/sheet/demo/basic.ts
  libs/zard/src/lib/shared/components/sheet/sheet.component.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 feat(combobox): adopt NgIcon and update icon type definitions
  apps/web/public/installation/manual/combobox.md
  libs/zard/src/lib/shared/components/combobox/combobox.component.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(select): migrate from ZardIconComponent to NgIcon
  apps/web/public/installation/manual/select.md
  libs/zard/src/lib/shared/components/select/select-item.component.ts
  libs/zard/src/lib/shared/components/select/select.component.ts
Due: eslint --fix, prettier --write

📦 feat(layout): adopt NgIcon and update icon type definitions
  apps/web/public/installation/manual/layout.md
  libs/zard/src/lib/shared/components/layout/demo/full-layout.ts
  libs/zard/src/lib/shared/components/layout/demo/sidebar.ts
  libs/zard/src/lib/shared/components/layout/sidebar.component.spec.ts
  libs/zard/src/lib/shared/components/layout/sidebar.component.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(tabs): replace ZardIconComponent with NgIcon
  apps/web/public/installation/manual/tabs.md
  libs/zard/src/lib/shared/components/tabs/tabs.component.spec.ts
  libs/zard/src/lib/shared/components/tabs/tabs.component.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(pagination): adopt NgIcon for pagination component icons
  apps/web/public/installation/manual/pagination.md
  libs/zard/src/lib/shared/components/pagination/pagination.component.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 feat(empty): migrate to NgIcon system and update icon input type
  apps/web/public/components/empty/demo/advanced.md
  apps/web/public/components/empty/demo/default.md
  apps/web/public/components/layout/demo/full-layout.md
  apps/web/public/components/layout/demo/sidebar.md
  apps/web/public/installation/manual/empty.md
  libs/zard/src/lib/shared/components/empty/demo/advanced.ts
  libs/zard/src/lib/shared/components/empty/demo/default.ts
  libs/zard/src/lib/shared/components/empty/empty.component.spec.ts
  libs/zard/src/lib/shared/components/empty/empty.component.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

📦 refactor(tree): complete NgIcon migration and clean up dependencies
  apps/web/public/components/empty/demo/advanced.md
  apps/web/public/components/tree/demo/selection.md
  apps/web/public/installation/manual/tree.md
  libs/zard/src/lib/shared/components/empty/empty.component.spec.ts
  libs/zard/src/lib/shared/components/tree/demo/selection.ts
  libs/zard/src/lib/shared/components/tree/tree-node.component.ts
  packages/cli/src/core/registry/registry-data.ts
Due: eslint --fix, prettier --write

✨ feat(demos): migrate demo components and test files to NgIcon system
  apps/web/public/components/badge/demo/default.md
  apps/web/public/components/button-group/demo/default.md
  apps/web/public/components/button-group/demo/input.md
  apps/web/public/components/button-group/demo/nested.md
  apps/web/public/components/button-group/demo/orientation.md
  apps/web/public/components/button-group/demo/size.md
  apps/web/public/components/input-group/demo/default.md
  apps/web/public/components/input-group/demo/loading.md
  apps/web/public/components/menu/demo/context-menu.md
  apps/web/public/components/menu/demo/default.md
  apps/web/public/components/table/demo/payments.md
  apps/web/public/components/toggle/demo/default.md
  apps/web/public/components/toggle/demo/disabled.md
  apps/web/public/components/toggle/demo/large.md
  apps/web/public/components/toggle/demo/outline.md
  apps/web/public/components/toggle/demo/small.md
  apps/web/public/components/toggle/demo/with-default.md
  apps/web/public/components/toggle/demo/with-forms.md
  apps/web/public/components/toggle/demo/with-text.md
  libs/zard/src/lib/shared/components/badge/demo/default.ts
  libs/zard/src/lib/shared/components/button-group/demo/default.ts
  libs/zard/src/lib/shared/components/button-group/demo/input.ts
  libs/zard/src/lib/shared/components/button-group/demo/nested.ts
  libs/zard/src/lib/shared/components/button-group/demo/orientation.ts
  libs/zard/src/lib/shared/components/button-group/demo/size.ts
  libs/zard/src/lib/shared/components/input-group/demo/default.ts
  libs/zard/src/lib/shared/components/input-group/demo/loading.ts
  libs/zard/src/lib/shared/components/menu/demo/context-menu.ts
  libs/zard/src/lib/shared/components/menu/demo/default.ts
  libs/zard/src/lib/shared/components/table/demo/payments.ts
  libs/zard/src/lib/shared/components/toggle/demo/default.ts
  libs/zard/src/lib/shared/components/toggle/demo/disabled.ts
  libs/zard/src/lib/shared/components/toggle/demo/large.ts
  libs/zard/src/lib/shared/components/toggle/demo/outline.ts
  libs/zard/src/lib/shared/components/toggle/demo/small.ts
  libs/zard/src/lib/shared/components/toggle/demo/with-default.ts
  libs/zard/src/lib/shared/components/toggle/demo/with-forms.ts
  libs/zard/src/lib/shared/components/toggle/demo/with-text.ts
  libs/zard/src/lib/shared/components/toggle/toggle.component.spec.ts
Due: eslint --fix, prettier --write

💄 style(ui): add important modifier to ng-icon size classes across components
  apps/web/src/app/domain/components/block-code-viewer/block-code-viewer.component.html
  apps/web/src/app/domain/components/header/header.component.html
  apps/web/src/app/domain/pages/themes/components/theme-preset-card/theme-preset-card.component.ts
  apps/web/src/app/domain/pages/themes/components/theme-preview/theme-preview.component.html
  apps/web/src/app/domain/pages/themes/components/theme-sidebar/theme-sidebar.component.html
  libs/zard/src/lib/shared/components/breadcrumb/breadcrumb.component.ts
  libs/zard/src/lib/shared/components/command/command-input.component.ts
  libs/zard/src/lib/shared/components/command/command-option.component.ts
  libs/zard/src/lib/shared/components/date-picker/date-picker.component.ts
  libs/zard/src/lib/shared/components/dialog/dialog.component.ts
  libs/zard/src/lib/shared/components/layout/sidebar.component.ts
  libs/zard/src/lib/shared/components/toggle-group/toggle-group.component.ts
Due: eslint --fix, prettier --write

💄 style(code): linting errors fix
  apps/web/public/components/button-group/demo/default.md
  apps/web/public/components/button-group/demo/size.md
  apps/web/public/components/empty/demo/advanced.md
  apps/web/public/components/input-group/demo/default.md
  apps/web/public/components/menu/demo/context-menu.md
  apps/web/public/components/menu/demo/default.md
  apps/web/public/components/table/demo/payments.md
  apps/web/public/installation/manual/breadcrumb.md
  apps/web/public/installation/manual/command.md
  apps/web/public/installation/manual/date-picker.md
  apps/web/public/installation/manual/dialog.md
  apps/web/public/installation/manual/layout.md
  apps/web/public/installation/manual/toggle-group.md
  apps/web/public/r/breadcrumb.json
  apps/web/public/r/button-group.json
  apps/web/public/r/command.json
  apps/web/public/r/date-picker.json
  apps/web/public/r/dialog.json
  apps/web/public/r/empty.json
  apps/web/public/r/layout.json
  apps/web/public/r/toggle-group.json
  libs/zard/src/lib/shared/components/button-group/demo/size.ts
  libs/zard/src/lib/shared/components/dialog/dialog.component.spec.ts
  libs/zard/src/lib/shared/components/empty/demo/advanced.ts
Due: eslint --fix, prettier --write

🐛 fix(web): align version support matrix with Angular 18+ compatibility baseline
  apps/web/src/app/domain/pages/version-support/version-support.page.html
  apps/web/src/app/domain/pages/version-support/version-support.page.ts
Due: eslint --fix, prettier --write

📝 fix(web): update support policy card to reflect Angular 18+ baseline
  apps/web/src/app/domain/pages/version-support/version-support.page.html
Due: prettier --write

🚧 chore(web): remove redundant HTML comments and fix wording in version support page
  apps/web/src/app/domain/pages/version-support/version-support.page.html
Due: prettier --write

Feat/018 version support page (#478)
  apps/web/src/app/app.routes.ts
  apps/web/src/app/domain/pages/version-support/version-support.page.html
  apps/web/src/app/domain/pages/version-support/version-support.page.ts
  apps/web/src/app/shared/constants/routes.constant.ts
Due: eslint --fix, prettier --write

🔧 chore: update registry [skip ci]
  apps/web/public/r/registry.json
Due: none

🔖 chore(release): publish v1.0.0-beta.64 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

✨ feat(docs): remove deprecated Icon component from documentation
  apps/web/prerender-routes.txt
  apps/web/public/r/registry.json
  apps/web/src/app/domain/pages/version-support/version-support.page.html
  apps/web/src/app/domain/pages/version-support/version-support.page.ts
  apps/web/src/app/shared/constants/routes.constant.ts
  apps/web/src/server.ts
  libs/zard/eslint.config.mjs
Due: eslint --fix, prettier --write

📦 refactor(icons): standardize ZardIconRegistry imports and fix icon references
  apps/web-e2e/src/components/button.spec.ts
  apps/web/public/components/button-group/demo/nested.md
  apps/web/public/components/dialog/demo/icons.md
  apps/web/public/components/empty/demo/default.md
  apps/web/public/r/button-group.json
  apps/web/public/r/dialog.json
  apps/web/public/r/empty.json
  apps/web/src/app/domain/pages/introduction/sections/ai-ready.component.ts
  apps/web/src/app/domain/pages/themes/components/theme-preview/theme-preview.component.html
  libs/zard/src/lib/shared/components/button-group/demo/nested.ts
  libs/zard/src/lib/shared/components/dialog/demo/icons.ts
  libs/zard/src/lib/shared/components/empty/demo/default.ts
Due: eslint --fix, prettier --write

🐛 fix(cli): fix sed command for macOS compatibility
  apps/web/src/app/domain/pages/introduction/sections/ai-ready.component.ts
  packages/cli/project.json
Due: eslint --fix, prettier --write

📦 refactor: Adjusting documentation ssr implementation
  apps/web/prerender-routes.txt
  apps/web/public/images/zard.svg
  apps/web/src/app/app.component.ts
  apps/web/src/app/app.config.server.ts
  apps/web/src/app/app.config.ts
  apps/web/src/app/app.routes.server.ts
  apps/web/src/app/core/layouts/documentation/documentation.layout.ts
  apps/web/src/app/core/layouts/shell/shell.layout.ts
  apps/web/src/app/domain/components/footer/footer.component.ts
  apps/web/src/app/domain/components/header/header.component.html
  apps/web/src/app/domain/components/header/header.component.ts
  apps/web/src/app/shared/services/github.service.ts
  apps/web/src/server.ts
Due: eslint --fix, prettier --write

Rename project to Zard/ui and simplify README
  README.md
Due: none

🔖 chore(release): publish v1.0.0-beta.65 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

📦 refactor(icons): migrate icon system to use @ng-icons/lucide directly
  apps/web/public/components/input-group/demo/default.md
  apps/web/public/installation/manual/breadcrumb.md
  apps/web/public/installation/manual/button.md
  apps/web/src/app/domain/components/ai-assist/ai-assist.component.html
  apps/web/src/app/domain/components/ai-assist/ai-assist.component.ts
  libs/zard/src/lib/shared/components/breadcrumb/breadcrumb.component.ts
  libs/zard/src/lib/shared/components/button/button.variants.ts
  libs/zard/src/lib/shared/components/input-group/demo/default.ts
  packages/cli/project.json
Due: eslint --fix, prettier --write

Revise CONTRIBUTING.md for project updates
  CONTRIBUTING.md
Due: none

📦 refactor: Updating static files
  apps/web/public/browserconfig.xml
  apps/web/public/images/github_banner.png
  apps/web/public/images/icons8-nothing-found-100.png
  apps/web/public/images/logo.png
  apps/web/public/images/team.png
  apps/web/public/images/zard-og-image.png
  apps/web/public/site.webmanifest
  apps/web/public/site/apple-touch-icon.png
  apps/web/public/site/favicon-16x16.svg
  apps/web/public/site/favicon-32x32.svg
  apps/web/public/site/favicon.ico
  apps/web/public/site/favicon.png
  apps/web/public/site/favicon.svg
  apps/web/public/site/icon-192x192.png
  apps/web/public/site/icon-192x192.svg
  apps/web/public/site/icon-256x256.svg
  apps/web/public/site/icon-384x384.svg
  apps/web/public/site/icon-512x512.png
  apps/web/public/site/icon-512x512.svg
  apps/web/public/site/mstile-144x144.svg
  apps/web/public/site/mstile-150x150.svg
  apps/web/public/site/mstile-310x150.svg
  apps/web/public/site/mstile-310x310.svg
  apps/web/public/site/mstile-70x70.svg
Due: none
