Repository zard-ui/zardui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.63 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

Feat/018 version support page (#478)
  apps/web/src/app/app.routes.ts
  apps/web/src/app/domain/pages/version-support/version-support.page.html
  apps/web/src/app/domain/pages/version-support/version-support.page.ts
  apps/web/src/app/shared/constants/routes.constant.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.64 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🔧 chore: update registry [skip ci]
  apps/web/public/r/registry.json
Due: none

Rename project to Zard/ui and simplify README
  README.md
Due: none

Revise CONTRIBUTING.md for project updates
  CONTRIBUTING.md
Due: none

🔖 chore(release): publish v1.0.0-beta.65 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🔖 chore(release): publish v1.0.0-beta.66 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix: update github links on roadmap page (#493)
  apps/web/src/app/domain/pages/roadmap/roadmap.page.html
Due: prettier --write

🔖 chore(release): publish v1.0.0-beta.67 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix: remove icon component export
  libs/zard/src/index.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.68 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🔖 chore(release): publish v1.0.0-beta.69 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(cli): use cross-platform shebang injection
  packages/cli/project.json
Due: none

🔖 chore(release): publish v1.0.0-beta.70 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🔖 chore(deps): update dependencies and configure Nx analytics (#504)
  .gitignore
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: none

🔖 chore(release): publish v1.0.0-beta.71 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(ui): rename disabled input to zDisabled and implement setDisabledState (#494)
  apps/web-e2e/src/components/dropdown.spec.ts
  apps/web/public/components/combobox/demo/disabled.md
  apps/web/public/components/combobox/doc/api.md
  apps/web/public/components/radio/doc/api.md
  apps/web/public/components/toggle-group/doc/api.md
  apps/web/public/installation/manual/combobox.md
  apps/web/public/installation/manual/radio.md
  apps/web/public/installation/manual/segmented.md
  apps/web/public/installation/manual/select.md
  apps/web/public/installation/manual/toggle-group.md
  apps/web/public/r/combobox.json
  apps/web/public/r/radio.json
  apps/web/public/r/segmented.json
  apps/web/public/r/select.json
  apps/web/public/r/toggle-group.json
  libs/zard/src/lib/shared/components/combobox/combobox.component.spec.ts
  libs/zard/src/lib/shared/components/combobox/combobox.component.ts
  libs/zard/src/lib/shared/components/combobox/demo/disabled.ts
  libs/zard/src/lib/shared/components/combobox/doc/api.md
  libs/zard/src/lib/shared/components/radio/doc/api.md
  libs/zard/src/lib/shared/components/radio/radio.component.ts
  libs/zard/src/lib/shared/components/segmented/segmented.component.spec.ts
  libs/zard/src/lib/shared/components/segmented/segmented.component.ts
  libs/zard/src/lib/shared/components/select/select.component.spec.ts
  libs/zard/src/lib/shared/components/select/select.component.ts
  libs/zard/src/lib/shared/components/toggle-group/doc/api.md
  libs/zard/src/lib/shared/components/toggle-group/toggle-group.component.spec.ts
  libs/zard/src/lib/shared/components/toggle-group/toggle-group.component.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.72 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🐛 fix(dialog): remove hardcoded max-width for dialog variants (#503)
  apps/web/public/installation/manual/dialog.md
  libs/zard/src/lib/shared/components/dialog/dialog.variants.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.73 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

🔧 chore: update registry [skip ci]
  apps/web/public/r/dialog.json
  apps/web/public/r/registry.json
Due: none

📦 refactor(toast): improve type safety and component configuration (#505)
  .gitignore
  apps/web/public/components/toast/demo/advanced.md
  apps/web/public/components/toast/demo/default.md
  apps/web/public/components/toast/demo/destructive.md
  apps/web/public/components/toast/demo/loading.md
  apps/web/public/components/toast/demo/position.md
  apps/web/public/components/toast/demo/success.md
  apps/web/public/installation/manual/toast.md
  apps/web/public/r/toast.json
  libs/zard/src/lib/shared/components/toast/demo/advanced.ts
  libs/zard/src/lib/shared/components/toast/demo/default.ts
  libs/zard/src/lib/shared/components/toast/demo/destructive.ts
  libs/zard/src/lib/shared/components/toast/demo/loading.ts
  libs/zard/src/lib/shared/components/toast/demo/position.ts
  libs/zard/src/lib/shared/components/toast/demo/success.ts
  libs/zard/src/lib/shared/components/toast/toast.component.ts
  libs/zard/src/lib/shared/components/toast/toast.variants.ts
Due: eslint --fix, prettier --write

🔖 chore(release): publish v1.0.0-beta.74 [skip ci] 🔥
  CHANGELOG.md
  libs/zard/package.json
  packages/cli/package.json
Due: none

📦 refactor(web): migrate ZardIconComponent to @ng-icons/lucide
  apps/web/src/app/domain/pages/examples/authentication/authentication-example.page.ts
  apps/web/src/app/domain/pages/examples/dashboard/dashboard-example.page.ts
  apps/web/src/app/domain/pages/examples/playground/playground-example.page.ts
  apps/web/src/app/domain/pages/examples/tasks/tasks-example.page.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/appearance-settings.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/button-group-nested.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/button-group-popover.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/button-group-toolbar.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/empty-avatar-group.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-chat.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-secure.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-stack.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/item-verified.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/notion-prompt-form.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/spinner-badges.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/spinner-empty.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-header.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-nav-tabs.component.ts
Due: eslint --fix, prettier --write

✨ feat(avatar): improve size handling and variant types because of NG02952
  apps/web/public/components/avatar/demo/basic.md
  apps/web/public/components/avatar/doc/api.md
  apps/web/public/installation/manual/avatar.md
  apps/web/public/installation/manual/input.md
  apps/web/public/r/avatar.json
  apps/web/public/r/input.json
  apps/web/public/r/menu.json
  apps/web/public/r/registry.json
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/empty-avatar-group.component.ts
  libs/zard/src/lib/shared/components/avatar/avatar-group.component.ts
  libs/zard/src/lib/shared/components/avatar/avatar.component.ts
  libs/zard/src/lib/shared/components/avatar/avatar.variants.ts
  libs/zard/src/lib/shared/components/avatar/demo/basic.ts
  libs/zard/src/lib/shared/components/avatar/doc/api.md
  libs/zard/src/lib/shared/components/input/input.directive.ts
Due: eslint --fix, prettier --write

💄 style(ui): fixed button sizing so icons are placed correctly
  apps/web/src/app/domain/pages/home/home.page.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/appearance-settings.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/button-group-nested.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/button-group-popover.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/button-group-toolbar.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-chat.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-secure.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/blocks/input-group-stack.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-examples-grid.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-header.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-nav-tabs.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/hero.component.ts
Due: eslint --fix, prettier --write

✨ feat(ui): solved flickering problem on home page
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-examples-grid.component.ts
  apps/web/src/app/domain/pages/home/sections/hero/components/hero-nav-tabs.component.ts
Due: eslint --fix, prettier --write

📦 refactor(ui): use view encapsulation none and optimize change detection
  apps/web/src/app/domain/components/ai-assist/ai-assist.component.ts
  apps/web/src/app/domain/components/block-code-viewer/block-code-viewer.component.ts
  apps/web/src/app/domain/components/features/features.component.ts
  apps/web/src/app/domain/pages/blocks/block-instructions/block-instructions.page.html
  apps/web/src/app/domain/pages/blocks/block-instructions/block-instructions.page.ts
  apps/web/src/app/domain/pages/change-log/entries/2026/march-2026.component.ts
  apps/web/src/app/domain/pages/dark-mode/dark-mode.page.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.html)
